{% extends 'baseb.html' %}

{% block content %}


<a href="{% url 'resource_list' %}">List Resource </a>

<div class="container">
    <div class="coupon-toggle">
        <div id="accordion" class="accordion">
            <div class="card">
                <div class="billing-fields">
                    <div class="checkout-title">
                        <h3>Mission {{ mission.name }}</h3>
                    </div>
                    <div class="form-content-box">
                        <div class="row">
                            <h2>{{mission.text}}</h2>
                        </div>
                        <div>
                            <img src="{{ resource.get_resourceImg_or_default }}" alt="" style = 'width: 300px; height: 300px;;'>
                        </div>
                        <div>
                            <a href="{{ resource.upload_file.url }}">name of file </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>






{% endblock %}