{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load mytags %}
{% load crispy_forms_tags %}
{% block css %}
    <link href="{% static 'backend/css/resource_styles.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}


    <div class="resource_detail_container">

        <div class="speaker_btn_group">
            <a class="btn edit_btn_resource" href="{% url 'update_resource' resource.id %}">{% trans 'update_resource' %}</a>

        </div>
        <div class="navigation_btn">
                <a class="btn" href="{% url 'project_detail' resource.project.id %}">{% trans 'back_to_project' %}</a>

            {% if resource in resource.project_set.all %}

                <a href="{% url  'individual_mission_detail' resource.mission_set.id %}">{% trans 'back_to_mission' %}</a>
            {% elif collectivemission %}
                here3
                <a href="{% url  'collective_mission_detail' mission.id %}">{% trans 'back_to_mission' %}"</a>
            {% endif %}

        </div>

        <div class="container_resource">
            <div class="resource_info">
                <h3 class="medium_title">{% trans 'resource_lable' %} {{ resource.name }}</h3>


                <a class="btn" href="{{ resource.link }}">{% trans 'resource_link' %}</a>

            </div>

            <div class="resource_detail">
                <div class="resource_description_box">
                    <p class="resource_description overflow-auto">{{resource.text}}</p>
                </div>
                <div class="resource_img_box">

                    <img class="resource_image"  src="{{ resource.get_resourceImg_or_default }}" alt="{{ resource.title }}">
                </div>

            </div>

        </div>
    </div>



    </div>

{% endblock %}


{% block javascript %}


{% endblock javascript %}