{% extends 'base.html' %}
{% load i18n %}
{% load mytags %}
{% block content %}


    <button><a href="{% url 'resource_list' %}">{% trans 'list_resource_title' %}</a></button>

    <a href="{% url 'update_resource' resource.id %}">{% trans 'update_resource' %}</a>


    {% if mission in resource.mission_set.individualmission_set.all %}
        <a href="{% url  'individual_mission_detail' mission.id %}">{% trans 'back_to_mission' %}</a>
    {% elif mission in  resource.mission_set.collectivemission_set.all %}
        <a href="{% url  'collective_mission_detail' mission.id %}">{% trans 'back_to_mission' %}"</a>
    {% endif %}

    <div class="container">
        <div class="coupon-toggle">
            <div id="accordion" class="accordion">
                <div class="card">
                    <div class="billing-fields">
                        <div class="checkout-title">
                            <h3>{% trans 'resource_lable' %} {{ resource.name }}</h3>
                        </div>
                        <div class="checkout-title">
                            <a4>  <a href="{{ resource.link }}">{% trans 'resource_link' %}</a></a4>

                        </div>

                        <div class="form-content-box">
                            <div class="row">
                                <h2>{{resource.text}}</h2>
                            </div>
                            <div>

                                <img class="item_img"  src="{{ resource.get_resourceImg_or_default }}" alt="{{ resource.title }}" style = 'width: 300px; height: 300px;;'>
                            </div>
                            {{ resource.get_resourceImg_or_default }}
                            <div>
                                <a href="{{ resource.upload_file.url }}">{% trans 'name_file_lable' %}</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>






{% endblock %}
