{% extends 'base.html' %}
{% load i18n %}
{% block content %}


    {% if user.speaker %}

    <div class="container-fluid">
      <button type="button" class="btn add_button" name="button"><a href="{% url 'create_team' %}">{% trans 'add_team' %}</a>
      </button>
    </div>
    <main class= "container-fluid">

    <div class="row">
    <div class="col-sm-4-lg-10">
    <div class="card">
    <!-- <div class="card-body"> -->
    <h5 class="card-header">My Teams</h5>
    <div class="table-responsive">
    <table class="table table-hover">
    <thead>
    <tr>
        <th>{% trans 'team_name' %}</th>
        <th>{% trans 'participants' %}</th>
        <th>{% trans 'duration' %}</th>
        <th>{% trans 'field' %}</th>
        <th>{% trans 'edit' %}</th>
    </tr>
    </thead>
    <tbody>

    {% for team in team_list %}
        <tr>
        <th><a href="{% url 'team_detail' team.id %}">{{ team.name }}</a></th>
        <th>{{ team.participants.count }}</th>
        <th>{{team.project.time_to_complete}}</th>
        <th>{{teamp.project.field}}</th>
        <th><a href="{% url 'update_team' team.id %}">  {% trans 'edit' %}</a></th>

    </tr>
    {% endfor %}
    </tbody>
    </table>
    <!-- </div> -->
    </div>
    </div>
    </div>
    </div>
    </main>



 {% elif ueser.id_student  %}

    <main class= "container-fluid">

       <div class="row">
    <div class="col-sm-4-lg-10">
    <div class="card">
    <div class="card-body">
    <h5 class="card-header">My Teams</h5>
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>

    <tr>
        <th>{% trans 'team name' %}</th>
        <th>{% trans 'number of participants' %}</th>
        <th>{% trans 'duration of the project' %}</th>
        <th>{% trans 'field' %}</th>

    </tr>
    </thead>
    <tbody>
    {% for team in team_list %}
        <th ><a href="{% url 'team_detail' team.id %}">{{ team.name }}</a></th>
        <th>{{ team.participants.count }}</th>
        <th>{{team.project.time_to_complete}}</th>
        <th>{{teamp.project.field}}</th>




    {% endfor %}

    <tr>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>

    </main>

     {% endif %}


{% endblock %}