{% extends 'base.html' %}
{% load i18n %}
{% load mytags %}
{% load crispy_forms_tags %}

{% load static %}

{% block css %}
    <link href="{% static 'backend/css/team_styles.css' %}" rel="stylesheet">
        <link href="{% static 'backend/css/discussion.css' %}" rel="stylesheet">

{% endblock css %}


{% block content %}


 {% if user.is_speaker %}
        {% include 'backend/team/team_detail_speaker.html' %}
    {% elif user.is_student %}
        {% include 'backend/team/team_detail_student.html' %}
    {% else %}
        {% trans 'you_can_t_see_this_page' %}
    {% endif %}

{% endblock %}