{% load i18n %}
{% load mytags %}
{% load crispy_forms_tags %}
{% load static %}

<div class="team_detail_container">

    <div class="team_detail_header">
        <div class="description_team_project">
       <h3>   {% trans 'team' %}:   {{ team.name.title }}</h3>

            {% if not team.project %}
                <button type="button" class="choose_project_button" data-bs-toggle="modal" data-bs-target="#ChoseProject">{% trans 'choose_project_team' %}</button>

            {% endif %}
        </div>
        <div class="team_extra_information">
            <div class="team_participant_container">

                <div class="participants_team_header">
                    <h4 class="participants_title">{% trans 'participants' %}</h4>

                    {% if user.is_speaker %}
                        <div class="add_person"><a href="{% url 'add_member_team' team.id %}"><img src="/static/backend/images/kiwep/addperson.png" alt="add"></a></div>
                    {%  endif %}


                </div>
                <div class="participants_list_icon">
                    {% for participant in team.participants.all %}
                        <div class="avatar">
                        {{ user.profile.profilepic_or_default}}
                     <a href="{% url 'profile_view' participant.id  %} "  > <img src="{{user.profilepic_or_default}}" class="profile_pic_rounded" height="50px" width="50px"></a>
                        </div>


                    {% endfor %}

                </div>
            </div>
        </div>

        {% if request.user.profile == team.manager %}
            <div class="speaker_action_btn_group">
                <button type="button" class="btn btn-warning sm-btn"><a href="{% url 'update_team' team.id %}">{% trans 'edit' %}</a></button>
                <button type="button" class="btn btn-secondary sm-btn"> <a href="{% url 'delete_team' team.id %}" >{% trans 'delete_team' %}</a></button>
            </div>
        {% endif %}
    </div>


    {#        <div class="team_navigation_extra_button">#}
    {##}
    {#            {% if team.project %}#}
    {##}
    {#              <div class="team_project_view_container">#}
    {#              <p>{{  team.project.description }}</p>#}
    {#              </div>#}
    {##}
    {#    Button Modal Resources#}
    {#                <div><span class="project_link_extra_underline1"><button type="button" class="btn project_link_extra btn-sm" data-bs-toggle="modal" data-bs-target="#resource_modal">#}
    {#                    {% trans 'resources' %}#}
    {#                </button></span>#}
    {##}
    {##}
    {#                </div>#}
    {#                <div class="photo-gallery">#}
    {#                    <div><span class="project_link_extra_underline2"><button type="button" class="btn project_link_extra btn-sm" data-bs-toggle="modal" data-bs-target="#photot_gallery_modal">#}
    {#                    {% trans 'photo_gallery' %}#}
    {#                </button></span></div>#}
    {##}
    {#                </div>#}
    {#            {% endif %}#}
    {#        </div>#}


    {% if team.project %}

        <div class="team_project_detail">

            <div class="img_team_project">
                <img class="image_size" src="{%  static 'backend/images/kiwep/project.png' %}">
            </div>

            <div class="team_project_description">
                <div class="team_project_title">
                    <h2> {% trans "project_name" %} : <a href="{% url 'project_detail' team.project.id %}" >{{ team.project.name.title }}</a></h2>
                </div>
                <p class="project_detail_team_page"> {{ team.project.description }}</p>

            </div>
            <div class="project_learning_info">
                <div class="detail_time_to_complete">
                    <span>{% trans 'time_to_complete' %}:</span>
                    {{team.project.time_to_complete}} {% trans 'days' %}
                </div>
                <div>
                   <span>{% trans 'acquired_skills' %}<span>
                    {% for skill in project.mission_set.acquired_skills.all %}

                        <li class="skill_decoration">{{skill.name}}</li>
                    {% endfor %}
                </div>
            </div>
        </div>

            <div class="team_detail_main_content">
                {% if user.profile in team.participants.all or user.is_speaker  %}

                    <div class="mission_list_box_team_detail">
                        <button type="button" class="btn btn-primary sm_btn" data-bs-toggle="modal" data-bs-target="#add_mission_modal">
                            {% trans 'add_mission' %}
                        </button>
                        <div class="team_mission_list">

                            {% for mission in team.project.mission_set.all.available_mission %}

                                <div class="team_mission_detail">

                                    <a class="team_mission_name_title"href="{% url 'individual_mission_detail' mission.id %}">{{ mission.name }}</a>
                                    <label class="team_mission_detail_attributed_to">
                                        {% if user.is_speaker %}
                                            {% if mission.attributed_to %}
                                                {% trans 'attributed_to' %}
                                            {% else %}
                                                {% trans 'mission_unclaimed_yet' %}
                                            {% endif %}

                                        {% elif user.is_student %}
                                            {% if not mission.attributed_to %}
                                                <a href="{% url 'claim_mission' mission.id %}">{% trans 'claim_mission_link' %}</a>
                                            {% else %}
                                                {% trans 'available_mission' %}
                                            {% endif %}
                                        {% endif %}
                                    </label>
                                    <label class="team_mission_detail_due_date">
                                        {{mission.due_date}}
                                    </label>
                                    <label class="team_mission_detail_m_type">
                                        {{mission.get_mission_type_display}}
                                    </label>

                                    <label class="team_detail_mission_answer_status">

                                        {% if mission.answer.status %}
                                            {{answer.status}}
                                        {% else %}
                                            <p>{% trans 'no_answer' %}</p>
                                        {% endif %}
                                    </label>

                                </div>
                            {% endfor %}
                        </div>

                    </div>


                    <div class="discussion_container">

                        {% include 'comments/discussion.html' %}

                    </div>
                    </div>

                {% endif %}


    {% endif %}

</div>




<!-- Modal -->
<div class="modal fade" id="ChoseProject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-create" type="button" role="tab" aria-controls="nav-create" aria-selected="true">
                            {% trans 'create_project' %}</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-chose" type="button" role="tab" aria-controls="nav-chose" aria-selected="false">
                            {% trans 'chose' %}</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-duplicate" type="button" role="tab" aria-controls="nav-duplicate" aria-selected="false">
                            {% trans 'duplicate' %}</button>
                    </div>
                </nav>


            </div>
            <div class="modal-body">

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">
                        <form method="post" action="{% url 'create_team_project' team.id %}">
                            {% csrf_token %}
                            {{ project_form|crispy }}
                            <button type="submit">{% trans 'save' %}</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-chose" role="tabpanel" aria-labelledby="nav-chose-tab">

                        {% for project in templates %}
                            <div class="duplicate_table">

                                <a href="{% url 'project_detail' project.id %}"> <h4 class="small_title">{{ project.name }}</h4></a>
                                <a href="{% url 'choose_project_for_team_detail' project.id team.id %}">{% trans 'select' %}</a>

                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="nav-duplicate" role="tabpanel" aria-labelledby="nav-duplicate-tab">
                        {% for project in old_projects  %}
                            <div class="duplicate_table">
                                <h4 class="small_title">{{ project.name }}</h4>
                                <a href="{% url 'duplicate_create_project' project.id team.id %}">{% trans 'copy' %}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>






{% if team.project %}

    <!-- Modal ADD Mission-->
    <div class="modal fade" id="add_mission_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="add_missionLable" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                    <ul class="nav nav-pills mb-3" id="pills-tab" >
                        <li class="nav-item" role="presentation">
                            <button class="nav-link " id="pills-individual-tab" data-bs-toggle="pill" data-bs-target="#pills-individual" type="button" role="tab" aria-controls="pills-individual" aria-selected="true">
                                {% trans 'individual' %}</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-collective-tab" data-bs-toggle="pill" data-bs-target="#pills-collective" type="button" role="tab" aria-controls="pills-collective" aria-selected="false">
                                {% trans 'collective' %}</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-individual" role="tabpanel" aria-labelledby="pills-individual-tab">
                            <form method="POST" class="form-horizontal" action='{% url 'create_individual_mission' team.project.id %}' >
                                {% csrf_token %}
                                {{ individual_form|crispy }}
                                <button class="btn waves-effect waves-light modal-action modal-close add_button" type="submit" name="action">
                                    {% trans 'save'%}</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="pills-collective" role="tabpanel" aria-labelledby="pills-collective-tab">
                            <form method="POST" class="form-horizontal" action='{% url 'create_collective_mission' team.project.id %}' >
                                {% csrf_token %}
                                {{ collective_form|crispy }}
                                <button class="btn waves-effect waves-light modal-action modal-close add_button" type="submit" name="action">
                                    {% trans 'save' %}</button>
                            </form>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal Resource -->
    <div class="modal fade" id="resource_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans 'resources' %}</h5>
                </div>
                <div class="modal-body">

                    {% if team.project.resource_set.exists %}
                        {% for resource in team.project.resource_set.all %}

                            <a href="{% url 'resource_detail' resource.id %}">{{ resource.name }}</a>
                        {% endfor %}
                    {% else %}
                        {% trans 'no_resources_yet' %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'save' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}