{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% load static %}


    {% if user.speaker %}
<div class="team_list_btn_gp">

    <div  class="button_left" >
        {% if user.is_speaker %}
            <a href="{% url 'answer_mission_list' %}" class="waves-effect waves-light btn secondary_button">{% trans 'answers_board' %}</a>
        {% elif user.is_student %}
            <a href="{% url 'mission_list' %}" class="waves-effect waves-light btn secondary_button">{% trans 'my_mission_board' %}</a>
        {% endif %}
    </div>

        <div  class="button_right" >
            <a href="{% url 'create_team' %}" class="waves-effect waves-light btn add_team_button">{% trans 'create_a_new_team' %}</a>

        </div>
</div>


        <!-- <main class= "container"> -->

        <div class="row">
            <div class="col s12 m12 l12">
                <h2 class="medium_title">{% trans 'my_teams'%}</h2>

                <!-- <div class="my_table"> -->
                <table class="team_list_table" >

                    <thead>
                    <tr class="table_headers">
                        <th>{% trans 'team_name' %}</th>
                        <th>{% trans 'participants' %}</th>
                        <th>{% trans 'duration' %}</th>
                        <th>{% trans 'project_name' %}</th>
                        <th>{% trans 'delete' %}</th>
                    </tr>
                    </thead>
                    <tbody><br>

                    {% for team in team_list %}
                        <tr>
                            <td class="content_table"><a class= "link-table" href="{% url 'team_detail' team.id %}">{{ team.name }}</a></td>
                            <td class="content_table">{{ team.participants.count }}</td>
                            <td class="content_table">{{team.project.time_to_complete}}</td>
                            <td class="content_table">{{team.project.name}}</td>
                            <td><a scope="col" href="{% url 'update_team' team.id %}" class="waves-effect waves-light btn edit_btn">{% trans 'edit_the_team' %}</a></td>
                            <td><a href="{% url 'delete_team' team.id %}" > <i class="small material-icons delete">{% trans 'delete' %}</i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- </div> -->
            </div>
        </div>




    {% elif user.is_student  %}

        <!-- <main class= "container-fluid"> -->

        <div class="row tables">

            <div class="col s12 m12 l12">
                <!-- <div class="card"> -->

                <div class="my_table">
                    <table class="highlight centered">
                        <thead>

                        <tr class="table_headers">
                            <th>{% trans 'team_name' %}</th>
                            <th>{% trans 'number of participants' %}</th>
                            <th>{% trans 'duration of the project' %}</th>
                            <th>{% trans 'field' %}</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for team in team_list %}
                            <th ><a class= "link-table" href="{% url 'team_detail' team.id %}">{{ team.name }}</a></th>
                            <th>{{ team.participants.count }}</th>
                            <th>{{team.project.time_to_complete}}</th>
                            <th>{{teamp.project.field}}</th>





                        {% endfor %}


                        </tbody>
                    </table>
                </div>
                <!-- </div> -->
            </div>
        </div>




    {% endif %}

{% endblock %}
