{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load mytags %}

<div class="student_team_list_container">
    <table class="table student_mission_table">
        <thead>
        <tr>
            <th scope="col">{% trans 'team_name' %}</th>
            <th scope="col">{% trans 'participants' %}</th>
            <th scope="col">{% trans 'due_date' %}</th>
            <th scope="col">{% trans 'project_name' %}</th>

        </tr>
        </thead>
        <tbody>


        {% for team in team_list %}
            <tr>
                <th ><a class= "link-table" href="{% url 'team_detail' team.id %}">{{ team.name }}</a></th>
                <th>{{ team.participants.count }}</th>
                <th>{{team.project.time_to_complete}}</th>
                <th><a href="{% url 'project_detail' team.project.id %}">{{team.project}} </a></th>
            </tr>
        {% endfor %}



        </tbody>
    </table>


    <br>

    <table class="table student_mission_table">
        <thead>
        <tr>
            <th>{% trans 'team_name' %}</th>
            <th>{% trans 'participants' %}</th>
            <th>{% trans 'project' %}</th>
            <th>{% trans 'due_date' %}</th>

        </tr>
        </thead>
        <tbody>


{#        {% if request.user not in team.participants %}#}
{#            not here#}
            {% for team in  request.user.profile.class_level.team_set.all|student_available_projects:request.user.profile %}

                <tr>
                    <th ><a class= "link-table" href="{% url 'team_detail' team.id %}">{{ team.name }}</a></th>
                    <th>{{ team.participants.count }}</th>
                    <th>{{team.project.time_to_complete}}</th>
                    <th>{{teamp.project.field}}</th>


                </tr>
            {% endfor %}

{#        {% endif %}#}

        </tbody>
    </table>

</div>

