{% extends 'baseb.html' %}

{% block content %}

{% if team.group_Institution == request.user.profile.class_level and request.user.profile not in team.participants.all %}

<a href="{% url 'join_team' team.id %}">Join The Team </a>

{%endif %}


<div id="rs-team" class="rs-team style1 orange-color pt-94 pb-100 md-pt-64 md-pb-70 white-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-30">
                <h2>Team {{ team.name }}</h2>
                {% for student in team.participants.all %}
                <div class="team-item">
                    <img src="assets/images/team/1.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">{{ student.user.first_name }}</a></h4>
                   
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>




<a href="{% url 'team_list' %}">List Team </a>

{% endblock %}