{% load i18n %}
{% load mytags %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <link href="{% static 'backend/css/student_team_styles.css' %}" rel="stylesheet">
    <link href="{% static 'backend/css/discussion.css' %}" rel="stylesheet">
    <link href="{% static 'backend/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'backend/css/buttons.css' %}" rel="stylesheet">

{% endblock css %}

<div class="team_detail_container">

    <div class="team_detail_header">
        <div class="description_team_project">
            <h1> {{ team.name.title }}</h1>

        </div>

        <div class="team_header_participants">
            <div class="team_participant_container">

                <div class="participants_team_header">
                    <h4>{% trans 'participants' %}</h4>

                </div>

                <div class="participants_list_icon">
                    {% for participant in team.participants.all %}
                        <div class="avatar">
                            {{ user.profile.profilepic_or_default}}
                            <a href="{% url 'profile_view' participant.id  %}"><img src="{{user.profilepic_or_default}}" class="profile_pic_rounded" height="50px" width="50px"></a>
                        </div>
                    {% endfor %}

                </div>
            </div>


            <div class="join_team_btn_group">
                {% if team.group_institution == request.user.profile.class_level and request.user.profile not in team.participants.all %}
                    <a class="btn primary_button" href="{% url 'join_team' team.id %}"><h5>{% trans 'join_the_team' %}</h5></a>
                {% elif team.group_institution == request.user.profile.class_level and request.user.profile in team.participants.all %}
                    <a class="btn neutral_action" href="{% url 'leave_team' team.id %}"><h5>{% trans 'leave team' %}</h5></a>
                {% endif %}
            </div>
        </div>
    </div>




    {% if team.project %}
        <div class="team_detail_main_content">

            {% if user.profile in team.participants.all %}
                <div class="team_mission_list_panel">
                    <div class="mission_list_box_team_detail">
                        <h2>{% trans 'mission_not_attributed_list' %}</h2>

                        <div class="team_mission_list">

                            {#STUDENT ____________________INDIVIDUAL MISSIONS DISPLAY IN TABLE #}

                            {% for mission in team.project.mission_set.available_mission %}

                                <div class="team_mission_detail">
                                    <a class="team_mission_name_title"href="{% url 'individual_mission_detail' mission.id %}">{{ mission.name }}</a>

                                    <label class="team_mission_detail_attributed_to">

                                        {% if mission.individualmission %}
                                            {% if not mission.attributed_to %}
                                                <a href="{% url 'claim_mission' mission.id %}">{% trans 'claim_mission_link' %}</a>
                                            {% else %}
                                                {% trans 'claimed_already' %}
                                            {% endif %}
                                        {% endif %}
                                    </label>

                                    <label class="team_mission_detail_m_type">
                                        <i class="bi bi-person" style="font-size: 3rem; color: darkgreen;"></i>
                                    </label>

                                </div>
                            {% endfor %}

                            {#STUDENT ____________________COLLECTIVE  MISSIONS DISPLAY IN TABLE #}

                            {% for mission in team.project.mission_set.collective %}

                                <div class="team_mission_detail">

                                    <a class="team_mission_name_title" href="{% url 'collective_mission_detail' mission.id %}">{{ mission.name }}</a>

                                    <label class="team_mission_detail_attributed_to">
                                        {%  if request.user.profile not in mission.collectivemission.attributed_to.all %}
                                            <a href="{% url 'join_collective_mission_detail' mission.id %}">{% trans 'join_collective_mission' %}</a>
                                        {% else %}
                                            <a class="team_mission_name_title"href="{% url 'leave_collective_mission_detail' mission.id %}">{% trans 'leave_collective' %}</a>
                                        {% endif %}
                                    </label>

                                    <label class="team_mission_detail_m_type">
                                        <i class="bi bi-people-fill" style="font-size: 3rem; color: darkolivegreen;"></i>

                                </div>
                            {% endfor %}



                        </div>
                    </div>
                    <div class="mission_list_box_team_detail">
                        <h2>{% trans 'attributed_mission_log' %}</h2>
                        <div class="team_mission_list">
                            {% if team.project.mission_set.all.get_attributed_mission %}
                                {% for mission in team.project.mission_set.all.get_attributed_mission  %}
                                    <div class="team_mission_detail">
                                        <a class="team_mission_name_title" href="{% url 'individual_mission_detail' mission.id %}">{{ mission.name }}</a>

                                        <label class="team_mission_detail_attributed_to">
                                            {% if user.profile == mission.individualmission.attributed_to %}
                                                <a class="btn unclaim_mission_button" href="{%  url 'unclaim_mission' mission.id %}">{% trans 'unclaim_mission' %}</a>
                                            {% else %}
                                                {{ mission.individualmission.attributed_to.user.first_name }}
                                            {% endif %}
                                        </label>

                                        <label class="team_mission_detail_m_type">

                                            <i class="bi bi-person" style="font-size: 3rem; color: darkgreen;"></i>

                                        </label>



                                    </div>
                                {% endfor %}
                            {% else %}
                                <h2>{% trans 'no_claimed_mission_yet' %}</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="team_extra_detail">
                    <div class="team_detail_project_detail">

                        <div class="team_detail_project">
                            <div class="team_project_title">
                             <a href="{% url 'project_detail' team.project.id %}" >   <h3>{{ team.project.name.title }}   </h3></a>
                            </div>
                         <a href="{% url 'project_detail' team.project.id %}" ><h2>{% trans 'project_detail' %}</h2></a>
                        </div>
                        <div class="project_learning_info">
                            <div class="detail_container_center">
                                <img class="medium_image" src="{%  static 'backend/images/kiwep/project_default.png' %}" style="--img-ratio: 1" >

                                <div class="team_project_description">
                                    {{ team.project.description|safe }}
                                </div>
                            </div>
                            <div class="detail_time_to_complete">
                                <h4>{% trans 'time_to_complete' %}:
                                    {{team.project.time_to_complete}} {% trans 'days' %}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="team_discussion_container">

                        {% include 'comments/discussion.html' %}

                    </div>

                </div>

                </div>

            {% endif %}
        </div>


    {% endif %}



{% if team.project %}
    <!-- Modal Resource -->
    <div class="modal fade" id="resource_modal" tabindex="-1" aria-labelledby="resource_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans 'resources' %}</h5>
                </div>
                <div class="modal-body">

                    {% if team.project.resource_set.exists %}
                        {% for resource in team.project.resource_set.all %}

                            <a href="{% url 'resource_detail' resource.id %}">{{ resource.name }}</a>
                        {% endfor %}
                    {% else %}
                        {% trans 'no_resources_yet' %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'save' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

