{% load mytags %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block css %}
    <link href="{% static 'backend/css/speaker_project_style.css' %}" rel="stylesheet">
{% endblock %}

<div class="main_container">
    <div class="container_header">
        <div class="header_right_section">
            <h2>{{ project.name }}</h2>
        </div>

        <div class="header_center_section">
            {% if not project.is_template %}
                {% if project.team %}
                    {% with team=project.team %}
                        <a class="btn secondary_button" href="{% url 'team_detail' team.id %}">{% trans 'back_to_team' %}</a>
                    {% endwith %}
                {% endif%}
            {% else %}
                <h3 class="templates_tag">{% trans 'this_is_a_template' %}</h3>
            {% endif %}
        </div>

        <div class="header_left_section">

            {% if project.is_template %}


                {#                                        <a class="btn" href="{% url 'choose_project_for_team_adetail' project.id %}">{% trans 'select'%}</a>#}
                <button type="button" class="btn edit_project_btn"><a href="{% url 'update_project' project.id %}">{% trans 'edit_project'%}</a></button>

            {% else %}
                <a class="btn edit_button" href="{% url 'update_project' project.id %}">{% trans 'edit'%}</a>

                <a class="btn delete_button" href="{% url 'delete_project' project.id %}" >{% trans 'delete' %}</a>

                {% if team.project %}
                    <a class="btn team_project_button" href="{% url 'team_detail' project.team.id %}" >{% trans 'team_of_project' %}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="project_main_container">
        <div class="project_content_header">
            <div class="descriptive_detail_container">
                <div class="text_description_container">
                    {{project.description|safe}}
                </div>

                <div class="learning_info_container">
                    <div class="detail_time_to_complete">
                        {% trans 'time_to_complete' %}:
                        {{project.time_to_complete}} {% trans 'days' %}
                    </div>
                    <div class="detail_skills">
                        <div class="detail_skills_header">
                           <h2> {% trans 'skills' %}</h2>
                            <i class="bi bi-plus-circle-fill"></i>
                        </div>
                        <div class="skills_list_container">
                            {% for skill in project.required_skills.all %}
                            {{ skill }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="resource_project_container">
                <div class="resource_container_header">
                    <h2> {% trans 'resources' %}</h2>
                    <!-- Button trigger modal add Resource -->
                    <a type="button" data-bs-toggle="modal" data-bs-target="#add_resource_modal">
                        <i class="bi bi-plus-circle-fill" style="font-size: 2rem; color: #0c8b51" ></i>
                    </a>
                </div>

                <div class="project_resource_list_items">
                    {% if project.resource_set.exists %}

                        {% for resource in project.resource_set.all %}
                            {%  if resource in project.resource_set.exists and resource not in project.mission_set.resource_set.exists %}
                            {% else %}
                                <ul class="resource_container_item">
                                <li><a href="{% url 'resource_detail' resource.id %}">{{ resource.name }}</a></li>
                                {% if user.is_speaker %}
                                    <li><a href="{% url 'delete_resource' resource.id %}"> <img src="/static/backend/images/kiwep/trash.png" alt="delete"></a>
                                        <a scope="col" href="{% url 'update_resource' resource.id %}"><img src="/static/backend/images/kiwep/edit.png" alt="edit"></a></li>
                                {% endif %}
                            {% endif %}
                        </ul>



                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>




        <div class="project_related_elements_content">
            {% include 'backend/project/project_board/project_mission_board.html' %}
            {# Here is the mission List #}
            {##}
            {#            <div class="project_mission_list_items">#}
            {##}
            {#                <div class="project_mission_header">#}
            {#                    <h2>{% trans 'missions' %}</h2>#}
            {##}
            {#                    <button type="button" class="btn btn-primary sm_btn" data-bs-toggle="modal" data-bs-target="#add_mission_modal">#}
            {#                        {% trans 'add_mission' %}#}
            {#                    </button>#}
            {#                </div>#}
            {##}
            {#                <div class="mission_list_project_detail overflow-auto">#}
            {##}
            {##}
            {##}
            {#                    {% for chapter in project.chapter_set.all %}#}
            {#                        <div class="row">#}
            {#                        <h4>{{ chapter.name }}</h4>#}
            {#                        {% for mission in chapter.mission_set.all %}#}
            {##}
            {#                            {% include 'backend/project/project_board/mission_block.html' %}#}
            {#                        {% endfor %}#}
            {#                        </div>#}
            {##}
            {#                    {% endfor %}#}
            {#                {% for mission in project.missions_without_chapters %}#}
            {#                    kjhglj#}
            {#                        {% include 'backend/project/project_board/mission_block.html' %}#}
            {#                    {% endfor %}#}
            {##}
            {#                </div>#}
            {#            </div>#}


        </div>

    </div>
</div>






<!-- Modal ADD Mission-->
<div class="modal fade" id="add_mission_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="add_missionLable" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#individual_mission" type="button" role="tab" aria-controls="individual_mission" aria-selected="true">
                            {% trans 'individual_mission'%}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#collective_mission" type="button" role="tab" aria-controls="profile" aria-selected="false">
                            {%  trans 'collective_mission' %}</button>
                    </li>
                </ul>
            </div>
            <div class="modal-body">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="individual_mission" role="tabpanel" aria-labelledby="individual_mission-tab">
                        <form method="POST" class="form-horizontal" action='{% url 'create_individual_mission' project.id %}' >
                            {% csrf_token %}
                            {{ individual_form|crispy }}
                            {{ individual_form.media }}
                            <button class="btn modal_save_button button_text" type="submit" name="action">{% trans 'save' %}
                            </button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="collective_mission" role="tabpanel" aria-labelledby="collective_mission-tab">
                        <form method="POST" class="form-horizontal" action='{% url 'create_collective_mission' project.id %}' >
                            {% csrf_token %}
                            {{ collective_form|crispy }}
                            {{ collective_form.media }}
                            <button class="btn modal_save_button button_text" type="submit" name="action">{% trans 'save' %}
                            </button>
                        </form>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>




{#ADD RESOURCE #}

<div class="modal fade" id="add_resource_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="add_resource" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <nav>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">

                        <button class="nav-link active" id="nav-create-tab" data-bs-toggle="tab" data-bs-target="#nav-create" type="button" role="tab" aria-controls="nav-chose" aria-selected="true">{%  trans 'create_resource' %}</button>

                        <button class="nav-link active" id="nav-choose-tab" data-bs-toggle="tab" data-bs-target="#nav-chose" type="button" role="tab" aria-controls="nav-chose" aria-selected="true">{%  trans 'chose_resource' %}</button>

                    </ul>
                </nav>
            </div>
            <div class="modal-body">

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">
                        <form method="post" action="{% url 'project_create_resource' object.id %}">
                            {% csrf_token %}
                            {{ resources_form|crispy }}
                            {{ resources_form.media }}
                            <button class="btn modal_save_button" type="submit" name="action"><p class="button_text">{% trans 'save' %}</p>
                            </button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-chose" role="tabpanel" aria-labelledby="nav-chose-tab">

                        {% for resource in object.ressource_set.all %}
                            <div class="duplicate_table">

                                <h4 class="small_title">{{ project.name }}</h4>
                                <a href="{% url 'choose_project_for_team_detail' project.id team.id %}">{% trans 'select' %}</a>

                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'close' %}</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal  Delete project-->
    <div class="modal fade" id="delete_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include 'crud/delete.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'close' %}</button>
                </div>
            </div>
        </div>
    </div>
