{% extends 'base.html' %}
{% load mytags %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block css %}
    <link href="{% static 'backend/css/project_styles.css' %}" rel="stylesheet">
        <link href="{% static 'backend/css/discussion.css' %}" rel="stylesheet">

{% endblock css %}



{% block content %}

 {% if user.is_speaker %}
        {% include 'backend/project/project_detail_speaker.html' %}
    {% elif user.is_student %}
        {% include 'backend/project/project_detail_student.html' %}
    {% else %}
        {% trans 'you_can_t_see_this_page' %}
    {% endif %}


{% endblock %}


