{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<!-- <div class="color_example1">

</div> -->

<!-- Main content Start -->
<div class="container-fluid">
  <div class="row">
    <div class="col">


    <h5 class="card-header" style="text-align:center;">{% trans 'available_project_list' %}</h5>

          <table class="table table-bordered table-hover table-responsive-md">
            <thead>
                <tr>
                  <th scope="col">{% trans 'project_name_table_header' %}</th>
                  <th scope="col">{% trans 'speaker_table_header' %}</th>
                  <th scope="col">{% trans 'field_table_header' %}</th>
                  <th scope="col">{% trans 'time_to_complete_table_header' %}</th>
                  <th scope="col">{% trans 'select_project' %}</th>

                </tr>
            </thead>
              <tbody>
                {% for project in project_list %}
                <tr>
                  <th scope="row"><a style = "color: black"  href="{% url 'project_detail' project.id %}">{{project.name}}</th>
                  <td>{{project.speaker.user.first_name}}</td>
                  <td>{{project.field}}</td>
                  <td>{{project.time_to_complet}}</td>
                  <td>select</td>
                </tr>
                {% endfor %}


            </tbody>
          </table>
        </div>
  </div>
  </div>


   <div class="rs-breadcrumbs">

            <h1 class="page-title"> {% trans 'my_project_list' %}</h1>



            <a style = "color: black" href="{% url 'create_project' %}">{% trans 'add_project_link' %}</a>

        </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <table id="zero-conf" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th> {% trans 'project_name_table_header' %}</th>
                                <th>{% trans 'speaker_table_header' %}</th>
                                <th>{% trans 'field_table_header' %}</th>
                                <th>{% trans 'time_to_complete_table_header' %}</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for project in project_list| %}
                            <tr>
                                <td><a style = "color: black"  href="{% url 'project_detail' project.id %}">{{project.name}}</a> </td>
                                <td>{{project.speaker.user.first_name}}</td>
                                <td>{{project.field}}</td>
                                <td>{{project.time_to_complete}}</td>

                            </tr>
                            {% endfor %}
                      </tbody>

                    </table>
                </div>

            </div>
        </div>
{% endblock %}
