{% load mytags %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<div class="project_detail_container">
    <div class="project_detail_header">

        <h2 class="project_title">{{ project.name }}</h2>


        <div class="speaker_action_btn_group">

            {% if project.is_template %}
                <h3 class="templates_tag">{% trans 'this_is_a_template' %}</h3>


            {% else %}
                {% if project.team %}
                    {% with team=project.team %}
                        <a class="btn team_button_from_project" href="{% url 'team_detail' team.id %}">{% trans 'back_to_team' %}</a>
                    {% endwith %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="project_detail_main_content">
        <div class="project_header_section">

            <div class="animation_div">
                <img class="image_animation" src="{% static 'backend/images/kiwep/project.png' %}" alt="this slowpoke moves">
            </div>
            <div class="project_detail_details">

                <p class="project_detail_description">
                    {% trans 'description: ' %}
                    <br>{{project.description}}</p>



                <div class="project_learning_info">
                    <div class="detail_time_to_complete">
                        <span>{% trans 'time_to_complete' %}:</span>
                        {{project.time_to_complete}} {% trans 'days' %}
                    </div>
{#                    <div>#}
{#                   <span>{% trans 'acquired_skills' %}<span>#}
{#                    {% for skill in project.mission_set.acquired_skills.all %}#}
{##}
{#                        <li class="skill_decoration">{{skill.name}}</li>#}
{#                    {% endfor %}#}
{##}
{#                    </div>#}

                </div>

            </div>
        </div>




        <div class="project_related_elements_content">
            {# Here is the mission List #}

            <div class="project_mission_list_items overflow-auto">

                <div class="project_mission_header">
                    <h2>{% trans 'missions' %}</h2>

                    {% if project.is_template %}

                        <button type="button" class="btn btn-primary sm_btn" data-bs-toggle="modal" data-bs-target="#add_mission_modal">
                            {% trans 'add_mission' %}
                        </button>
                    {% endif %}
                </div>

                {% for mission in project.mission_set.all %}

                    <div class="project_mission_items">
                        {% if mission.mission_type == "i" %}
                            <a class="mission_name" href="{% url 'individual_mission_detail' mission.id %}">{{ mission.name }}</a>
                        {% else %}
                            <a class="mission_name" href="{% url 'collective_mission_detail' mission.id %}">{{ mission.name }}</a>
                        {% endif %}
                        <span class="mission_type_label_place_holder">{{ mission.get_mission_type_display }}</span>
                        {% if project.is_template %}
                            {% if user.is_speaker %}
                                {% if mission.mission_type == "i" %}
                                    <span>
                                    <a href="{% url 'delete_individual_mission' mission.id %}"><img src="{% static "backend/images/kiwep/trash.png" %}" alt="delete"></a>
                                {% else %}
                                    <a href="{% url 'delete_collective_mission' mission.id %}"><img src="{% static "backend/images/kiwep/trash.png" %}" alt="delete"></a>
                                {% endif %}

                            {% if mission.individualmission %}
                                <a href="{% url 'update_individual_mission' mission.id %}"><img src="{% static 'backend/images/kiwep/edit.png' %}" alt="edit"></a>

                            {% else %}
                                <a href="{% url 'update_collective_mission' mission.id %}"><img src="{% static 'backend/images/kiwep/edit.png' %}" alt="edit"></a>
                            {% endif %}
                            </span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}

            </div>





            <div class="project_resource_content">
                <div class="project_resource_header">
                    <div class="medium_resource_title">
                        <h2> {% trans 'resources' %}</h2>
                    </div>

                    <div class="btn_control_project1">
                        {% if project.is_template %}

                            <!-- Button trigger modal add Resource -->
                            <button type="button" class="btn btn-primary sm_btn1" data-bs-toggle="modal" data-bs-target="#add_resource_modal">
                                {% trans 'add_resource' %}
                            </button>
                        {% endif %}
                    </div>
                </div>



                <div class="project_resource_list_items overflow-auto">
                    {% if project.resource_set.exists %}

                        {% for resource in project.resource_set.all %}
                            {%  if resource in project.resource_set.exists and resource not in project.mission_set.resource_set.exists %}
                                kjher
                            {% else %}
                                <ul class="resource_details">
                                <li><a href="{% url 'resource_detail' resource.id %}">{{ resource.name }}</a></li>
                                {% if user.is_speaker %}
                                    <li><a href="{% url 'delete_resource' resource.id %}"> <img src="/static/backend/images/kiwep/trash.png" alt="delete"></a>
                                        <a scope="col" href="{% url 'update_resource' resource.id %}"><img src="/static/backend/images/kiwep/edit.png" alt="edit"></a></li>
                                {% endif %}
                            {% endif %}
                        </ul>



                        {% endfor %}
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
</div>






<!-- Modal ADD Mission-->
<div class="modal fade" id="add_mission_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="add_missionLable" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#individual_mission" type="button" role="tab" aria-controls="individual_mission" aria-selected="true">
                            {% trans 'individual_mission'%}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#collective_mission" type="button" role="tab" aria-controls="profile" aria-selected="false">
                            {%  trans 'collective_mission' %}</button>
                    </li>
                </ul>
            </div>
            <div class="modal-body">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="individual_mission" role="tabpanel" aria-labelledby="individual_mission-tab">
                        <form method="POST" class="form-horizontal" action='{% url 'create_individual_mission' project.id %}' >
                            {% csrf_token %}
                            {{ individual_form|crispy }}
                            <button class="btn btn-primary" type="submit" name="action">
                                {% trans 'save'%}</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="collective_mission" role="tabpanel" aria-labelledby="collective_mission-tab">
                        <form method="POST" class="form-horizontal" action='{% url 'create_collective_mission' project.id %}' >
                            {% csrf_token %}
                            {{ collective_form|crispy }}
                            <button class="btn btn-primary" type="submit" name="action">
                                {% trans 'save' %}</button>
                        </form>
                    </div>
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>




{#ADD RESOURCE #}

<div class="modal fade" id="add_resource_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="add_resource" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <nav>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">

                        <button class="nav-link active" id="nav-create-tab" data-bs-toggle="tab" data-bs-target="#nav-create" type="button" role="tab" aria-controls="nav-chose" aria-selected="true">{%  trans 'create_resource' %}</button>

                        <button class="nav-link active" id="nav-choose-tab" data-bs-toggle="tab" data-bs-target="#nav-chose" type="button" role="tab" aria-controls="nav-chose" aria-selected="true">{%  trans 'chose_resource' %}</button>

                    </ul>
                </nav>
            </div>
            <div class="modal-body">

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">
                        <form method="post" action="{% url 'project_create_resource' object.id %}">
                            {% csrf_token %}
                            {{ resources_form|crispy }}
                            <button type="submit">{% trans 'save' %}</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-chose" role="tabpanel" aria-labelledby="nav-chose-tab">

                        {% for resource in object.ressource_set.all %}
                            <div class="duplicate_table">

                                <h4 class="small_title">{{ project.name }}</h4>
                                <a href="{% url 'choose_project_for_team_adetail' project.id team.id %}">{% trans 'select' %}</a>

                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>




    <!-- Modal  Delete project-->
    <div class="modal fade" id="delete_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include 'crud/delete.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'close' %}</button>
                </div>
            </div>
        </div>
    </div>
