{% load mytags %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block css %}
    <link href="{% static 'backend/css/student_project_styles.css' %}" rel="stylesheet">
{% endblock %}



<div class="main_container">
    <div class="container_header">
        <div class="header_right_section">
            <h2>{{ project.name }}</h2>
        </div>

        <div class="header_center_section">
            {% if not project.is_template %}
                {% if project.team %}
                    {% with team=project.team %}
                        <a class="btn secondary_button" href="{% url 'team_detail' team.id %}">{% trans 'back_to_team' %}</a>
                    {% endwith %}
                {% endif%}
            {% else %}
                <h3 class="templates_tag">{% trans 'this_is_a_template' %}</h3>
            {% endif %}
        </div>

        <div class="header_left_section">

                {% if team.project %}
                    <a class="btn team_project_button" href="{% url 'team_detail' project.team.id %}" >{% trans 'team_of_project' %}</a>
                {% endif %}
        </div>
    </div>

    <div class="project_main_container">
        <div class="project_content_header">
            <div class="descriptive_detail_container">
                <div class="text_description_container">
                    {{project.description|safe}}
                </div>

                <div class="learning_info_container">
                    <div class="detail_time_to_complete">
                        {% trans 'time_to_complete' %}:
                        {{project.time_to_complete}} {% trans 'days' %}
                    </div>
                    <div class="detail_skills">
                        <div class="detail_skills_header">
                           <h2> {% trans 'skills' %}</h2>
                            <i class="bi bi-plus-circle-fill"></i>
                        </div>
                        <div class="skills_list_container">
                            {% for skill in project.required_skills.all %}
                            {{ skill }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="resource_project_container">
                <div class="resource_container_header">
                    <h2> {% trans 'resources' %}</h2>
                </div>

                <div class="project_resource_list_items">
                    {% if project.resource_set.exists %}

                        {% for resource in project.resource_set.all %}
                            {%  if resource in project.resource_set.exists and resource not in project.mission_set.resource_set.exists %}
                            {% else %}
                                <ul class="resource_container_item">
                                <li><a href="{% url 'resource_detail' resource.id %}">{{ resource.name }}</a></li>

                            {% endif %}
                        </ul>



                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>






    </div>
<div class="chapter_container">

    {% for chapter in project.chapter_set.all %}
           <div class="project_mission_header">
           {{ chapter.name }}
                </div>
                {% for mission in project.mission_set.all %}

                    <div class="project_mission_items">
                        {% if mission.mission_type == "i" %}
                            <a class="mission_name" href="{% url 'individual_mission_detail' mission.id %}">{{ mission.name }}</a>
                        {% else %}
                            <a class="mission_name" href="{% url 'collective_mission_detail' mission.id %}">{{ mission.name }}</a>
                        {% endif %}
                        <span class="mission_type_label_place_holder">{{ mission.get_mission_type_display }}</span>
                        {% if project.is_template %}
                            {% if user.is_speaker %}
                                {% if mission.mission_type == "i" %}
                                    <span>
                                    <a href="{% url 'delete_individual_mission' mission.id %}"><img src="{% static "backend/images/kiwep/trash.png" %}" alt="delete"></a>
                                {% else %}
                                    <a href="{% url 'delete_collective_mission' mission.id %}"><img src="{% static "backend/images/kiwep/trash.png" %}" alt="delete"></a>
                                {% endif %}

                            {% if mission.individualmission %}
                                <a href="{% url 'update_individual_mission' mission.id %}"><img src="{% static 'backend/images/kiwep/edit.png' %}" alt="edit"></a>

                            {% else %}
                                <a href="{% url 'update_collective_mission' mission.id %}"><img src="{% static 'backend/images/kiwep/edit.png' %}" alt="edit"></a>
                            {% endif %}
                            </span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
{% endfor %}
</div>

</div>




