{% extends 'basem.html' %}
{% load mytags %}

{% load static %}
{% load i18n %}
{% load materializecss %}


{% block content %}
    <div class = "main_container">

    <div class="row project_description_block" >
        <div class="description_block ">
            <div>
                <p>{{project.description}}</p>
                <a href ="{url 'project_detail' team.project.id %}">{% trans 'read_more_porject' %}</a>
            </div>

        </div>
        <div class="speaker_btn_group">
            {% if user.is_speaker %}
                <a class="waves-effect btn edit_button" href="{% url 'update_project' project.id %}">{% trans 'edit'%}</a>
            {% endif %}
        </div>

    </div>




    <div class="row project_detail_block" >

        <div class="project_detail" >

            <div class="table_detail_project">
                <div><h4>{% trans 'details_header' %}</h4></div>
                <ul >
                    <li>
                        <span class="label">{% trans 'field' %}:</span>
                        <span class="value">{{project.field}}</span>
                    </li>
                    <li>
                        <span class="label">{% trans 'time_to_complete' %}</span>
                        <span class="value">{{project.time_to_complete}}</span>
                    </li>
                    <li >
                        <span class="label">{% trans 'difficulty ' %}</span>
                        <span class="value">{{project.difficulty}}</span>
                    </li>
                    <li>
                        <span class="label">{% trans 'points' %}</span>
                        <span class="value">{{project.points}}</span>
                    </li>
                </ul>
            </div>

        </div>

        <div class="project_acquired_skills" >

            <div>
                <div style = "margin-left: 15px "><p>{% trans 'acquired_skills' %}</p></div>
                {% for skill in project.acquired_skills.all %}
                    <li class="collection-item">{{skill.name}}</li>
                {% endfor %}
                </ul>
            </div>


        </div>

    </div>


    <div class="project_extra_detail">


        <div class ="project_mission_table">
            <div class="section_header">
                <div class = "section_title">
                    <h3>        {% trans 'missions_title' %}</h3>
                </div>
                <div class="speaker_btn_group">

                    <!-- Modal Trigger -->
                    <button data-target="add_mission" class="btn modal-trigger add_button">{% trans 'add' %}</button>
                </div>
            </div>

            <div>
                <table>
                    <thead>
                    <tr class="table_headers">
                        <th>{% trans 'mission_name' %}</th>
                        <th>{% trans 'dead_line' %}</th>
                        <th>{% trans 'mission_type_title' %}</th>
                        {% if user.is_speaker %}
                            <th>{% trans 'delete' %}</th>
                            <th> {% trans 'edit' %}</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody><br>

                    {% for mission in project.individualmission_set.all %}
                        <tr>
                            <td class="content_table"><a class= "link-table" href="{% url 'individual_mission_detail' mission.id %}">{{ mission.name }}</a></td>
                            <td class="content_table">{{ mission.due_date }}</td>
                            <td class="content_table">
                                {% if mision in individualmission_set.all %}
                                    <p> {% trans 'individual_mission' %}</p>
                                {% elif mission in collectivemission_set.all %}
                                    <p> {% trans 'collective_mission' %}</p>
                                {% endif %}</td>

                            <td><a href="{% url 'delete_team' team.id %}" > <i class="small material-icons delete">{% trans 'delete' %}</i></a></td>
                            <td><a scope="col" href="{% url 'update_team' team.id %}" class="waves-effect waves-light btn edit_btn">{% trans 'edit_the_team' %}</a></td>

                        </tr>
                    {% endfor %}



                    {% for mission in project.collectivemission_set.all %}
                        <tr>
                            <td class="content_table"><a class= "link-table" href="{% url 'individual_mission_detail' mission.id %}">{{ mission.name }}</a></td>
                            <td class="content_table">{{ mission.due_date }}</td>
                            <td class="content_table">
                                {% if mision in individualmission_set.all %}
                                    <p> {% trans 'individual_mission' %}</p>
                                {% elif mission in collectivemission_set.all %}
                                    <p> {% trans 'collective_mission' %}</p>
                                {% endif %}</td>

                            <td><a href="{% url 'delete_team' team.id %}" > <i class="small material-icons delete">{% trans 'delete' %}</i></a></td>
                            <td><a scope="col" href="{% url 'update_team' team.id %}" class="waves-effect waves-light btn edit_btn">{% trans 'edit_the_team' %}</a></td>

                        </tr>
                    {% endfor %}


                    </tbody>
                </table>


            </div>

        </div>

        <div class="project_resource_table">
            <div class="section_header">
                <div class = "section_title">
                    <h3>        {% trans 'resource' %}</h3>
                </div>
                <div class="speaker_btn_group">
                    <a class="waves-effect btn add_button" >{% trans 'add' %}</a>
                </div>
            </div>

            <div>
                <table>
                    <thead>
                    <tr class="table_headers">
                        <th>{% trans 'resource_name' %}</th>
                        {% if user.is_speaker %}
                            <th>{% trans 'delete' %}</th>

                        {% endif %}
                    </tr>
                    </thead>
                    <body>
                    {% for resource in project.resources.all %}
                        <td class="content_table"><a href="{% url 'resource_detail' resource.id %}"> {{ resrouce.name }} </a></td>
                    {% endfor %}
                    </body>
                </table>
            </div>

        </div>
    </div>
























    {#    <-- -----------MODAL WITH MATERIALIZE MISSIONS-------- -->#}

    <!-- Modal Structure -->
    <div id="add_mission" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">

                    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                        <li class="tab col s5"><a href="#IndividualMission">{% trans 'individual_mission'%}</a></li>
                        <li class="tab col s5"><a class="active" href="#CollectiveMission">{% trans 'collective_mission'%}</a></li>
                    </ul>


                </div>
                <div>
                    <div id="IndividualMission" class="col s12">
                        <h4>{% trans 'individual_mission'%}</h4>

                        <form method="POST" class="form-horizontal" action='{% url 'create_individual_mission' project.id %}' >
                            {% csrf_token %}
                            {{ individual_form|materializecss }}
                            <button class="btn waves-effect waves-light modal-action modal-close add_button" type="submit" name="action">
                                {% trans 'save'%}</button>
                        </form>

                    </div>



                    <div id="CollectiveMission" class="col s12">
                        <h4>{% trans 'collective_mission'%}</h4>

                        <form method="POST" class="form-horizontal" action='{% url 'create_collective_mission' project.id %}' >
                            {% csrf_token %}
                            {{ collective_form|materializecss }}
                            <button class="btn waves-effect waves-light modal-action modal-close add_button" type="submit" name="action">
                                {% trans 'save' %}</button>
                        </form>

                    </div>

                </div>

                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat green-btn">close</a>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

    {% block javascript %}
<script src="{% static  'backend/js/project_api_details.js'%}" type="text/javascript"></script>
<script src="{% static  'backend/js/plugin.js'%}" type="text/javascript"></script>




<script>
    $(document).ready(function(){
        $('.modal').modal();


        $('.tabs').tabs();

    });
</script>


    {% endblock javascript %}