{% load mytags %}

{% load static %}
{% load i18n %}
{% load materializecss %}


<div class="row">

    <div class="col s12 m6 l8 discussion_detail" >

        <div id="current_discussion">

            {% with discussion=object.discussions.last %}
                <div class="dialog_box">
                      <h3>{{ discussion.title }}</h3>
                        {% if discussion %}
                    {% for comment in discussion.replies.all %}
                        {% if comment.user.profile == request.user.profile %}

                            <div class="speech-bubble-left user_comment">
                                {{ comment.comment_text }}
                            </div>
                        {% else %}
                            <div class="speech-bubble-right profile_comment">
                                {{ comment.comment_text}}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="add_comment_input">

                <form method="POST" action = "{% url 'comment_add' %}?next={{ request.path }}" >
                    {% csrf_token %}
                    {{ discussion.comment_form|materializecss }}
                    <div class="col s1">
                        <button type="submit" class="waves-effect waves-light btn"><i class="material-icons">send</i></button>
                    </div>
                </form>
                        {% endif %}
            {% endwith %}

            </div>


        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="row discussion_list">


            {% for discussion in object.discussions.all %}

                <ul class="tabs">
                    <li class="tab col s3"><a href="#current_discussion">{{ discussion.title }}</a>
                    </li>
                </ul>
            {% endfor %}
        </div>


        <div>
            <span class="small_title">{% trans 'add_discussion'%} to  {{object}}</span>#}
{% if object %}
            <div class="card-content">
                <form method="POST" action = "{% url 'discussion_add' %}?next={{ request.path }} " >
                    {% csrf_token %}
                    {{ object.discussion_form|materializecss }}

                    <button class="btn waves-effect waves-light secondary_button" type="submit" name="action">{% trans 'start_discussion' %}
                    </button>
                </form>

            </div>
{% endif     %}
        </div>
    </div>

</div>

    {#        <div class="card">#}
    {##}
    {#            <span class="small_title">{% trans 'add_discussion'%} to  {{object}}</span>#}
    {##}
    {#            <div class="card-content">#}
    {#                <form method="POST" action = "{% url 'discussion_add' %}?next={{ request.path }} " >#}
    {#                    {% csrf_token %}#}
    {#                    {{ object.discussion_form|materializecss }}#}
    {##}
    {#                    <button class="btn waves-effect waves-light secondary_button" type="submit" name="action">{% trans 'start_discussion' %}#}
    {#                    </button>#}
    {#                </form>#}
    {##}
    {#            </div>#}
    {#            <ul class="collapsible popout">#}
    {#                {% for discussion in object.discussions.all %}#}
    {#                    <li>#}
    {#                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ discussion.title }}</div>#}
    {##}
    {#                        <div class="collapsible-body"><span>{{discussion.comment_text}}</span>#}
    {#                            <div>#}
    {#                                {% for comment in discussion.replies.all %}#}
    {#                                    <p class="speech-bubble">{{ comment.comment_text }}</p>#}
    {#                                {% endfor %}#}
    {#                                <form method="POST" action = "{% url 'comment_add' %}?next={{ request.path }} " >#}
    {#                                    {% csrf_token %}#}
    {#                                <div class="row">#}
    {##}
    {#                                    <div class="col s11 ">#}
    {#                                    {{ discussion.comment_form|materializecss }}#}
    {##}
    {#                                    </div>#}
    {##}
    {#                                    <div class="col s1">#}
    {#                                        <button type="submit" class="waves-effect waves-light btn"><i class="material-icons">send</i></button>#}
    {##}
    {##}
    {#                                </div>#}
    {##}
    {##}
    {#                                </form>#}
    {##}
    {#                            </div>#}
    {##}
    {##}
    {#                        </div>#}
    {##}
    {#                    </li>#}
    {##}
    {#                {% endfor %}#}
    {#            </ul>#}
    {##}
    {#        </div>#}
    {#    </div>#}
    {#</div>#}
    {##}

    <!-- <div>
                <h5 style="link-side-panel">{% trans 'add_discussion'%} to {{ object }}</h5>
                <div>
                    <form method="POST" action = "{% url 'discussion_add' %}?next={{ request.path }} " >
                        {% csrf_token %}
                        {{ object.discussion_form }}
                        {#                <input type="text" style="width: 600px", height="300px">#}
                        <button class="btn waves-effect waves-light secondary_button" type="submit" name="action">{% trans 'comment' %}
                        </button>
                    </form>
                </div>
            </div> -->


    {% block javascript %}
<script>
        $(document).ready(function(){
        $('.tabs').tabs();

</script>

    {% endblock javascript %}