{% extends 'baseb.html' %}

{% block content %}
<div class="error-page error-404">
<div class="connect-container align-content-stretch d-flex flex-wrap">
    <div class="container d-flex align-content-stretch flex-wrap">
        <div class="row">
            <div class="col d-flex align-content-stretch flex-wrap"">
                        <div class=" error-page-image"></div>
            <div class="error-page-text">
                <h3>Oops.. {% trans 'went_wrong' %}/h3>
                <p>It seems that the page you are looking for no longer exists.<br>We will try our best to fix this
                    soon.</p>
                <div class="error-page-actions">
                    <a href="#" class="btn btn-secondary">help_center</a>
                    <a href="index.html" class="btn btn-primary">homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


{% endblock %}