{% extends 'baseb.html' %}
{% load i18n %}
{% block content %}

<div class="error-page error-500">

    <div class="connect-container align-content-stretch d-flex flex-wrap">
        <div class="container d-flex align-content-stretch flex-wrap">
            <div class="row">
                <div class="col d-flex align-content-stretch flex-wrap"">
                    <div class="error-page-image"></div>
                    <div class="error-page-text">
                        <h3>{% trans 'internal_server_error' %}</h3>
                        <p>Ooopss... Something went wrong.<br>Try refreshing the page or contact our help center.</p>       
                        <div class="error-page-actions">
                            
                            <a href="index.html" class="btn btn-primary">{% trans 'homepage' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
    
    