{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>

    {% block extrahead %}
        <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
        {{ block.super }}
    {% endblock %}


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="{% static 'backend/css/styles.css' %}" rel="stylesheet" >

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WVH0LNVE5L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WVH0LNVE5L');
    </script>




    <title>KIWEP</title>


    {% block css %}

    {% endblock css %}

</head>






<body>

{% include 'navbar.html' %}

<!-- {% if user.is_authenticated %} -->

    <!-- {% endif %} -->





<div class="main_base_content_block">
    {% block content %}


    {% endblock %}
</div>







{% block javascript %}

{% endblock javascript %}
</body>

</html>