{% extends 'base.html' %}
{% load static %}

{% block content %}

<body class="defult-home">
        
   


          
        </header>
        <!--Header End-->
    </div>
    <!--Full width header End-->






    <!-- Main content Start -->
    <div class="main-content">
        <!-- Banner Section Start -->
        <div id="rs-banner" class="rs-banner style10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 pl-60 order-last">
                        <div class="img-part">
                           <img class="#" src="{% static 'front_end/images/kiwep/random.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 pr-0">
                        <div class="banner-content">
                           <div class="sl-sub-title wow bounceInLeft" data-wow-delay="300ms" data-wow-duration="2000ms">Educational Projects</div>
                            <h1 class="sl-title wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="3000ms">The Future of Learning
                            </h1>
                            <div class="banner-btn wow fadeInUp" data-wow-delay="1500ms" data-wow-duration="2000ms">
                                <a class="readon green-banner" href="#">Institution Registration</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="banner-intro-box">
                <div class="shape-img">
                    <img class="up-down-new" src="{% static 'front_end/images/banner/home12/dotted-shape.png' %}" alt="">
                </div>
                
            </div>
        </div>
        <!-- Banner Section End -->
  


        <!-- Services Section Start -->
        <div id="rs-services" class="rs-services home12-style">
            <div class="container">
                <div class="sec-title4 text-center mb-50">
                    <div class="sub-title">Increase Your Skill</div>
                    <h2 class="title purple-color">Explore Top Subjects</h2>
                </div> 
                <div class="row">
                    {% for project in projects_lis %}

                    <div class="col-lg-4 md-mb-30">
                       <div class="services-item">
                           <div class="services-image">
                               <div class="services-icons">
                                   <img src="assets/images/services/home12/1.png" alt="">
                               </div>
                               <div class="services-text">
                                   <div class="services-title">
                                       <h2 class="title">Web Development</h2>
                                   </div>
                                   <p class="text">
                                        Lorem ipsum dolor sit amet, conseced
                                       tetur adipiscing elit, sed do eiusmod tempor dolore magna mere jan
                                   </p>
                               </div>
                           </div>
                       </div> 
                    </div>  
                    {% endfor %}
    
                </div>
                <div class="col-lg-12 text-center pt-45">
                    <a class="readon green-btn" href="#">View All Subjects </a>
                </div>
            </div>
        </div>
        <!-- Services Section End -->

      



    
        <!-- Faq Section Start -->
        <div class="rs-faq-part style1 pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 padding-0 col-md-12 md-mb-40">
                      <div class="main-part new-style">
                        <div class="title mb-20">
                            <h2 class="text-part">Frequently Asked Questions</h2>
                        </div>
                          <div class="faq-content">
                              <div id="accordion" class="accordion">
                                 <div class="card">
                                     <div class="card-header">
                                         <a class="card-link" data-toggle="collapse" href="#collapseOne">What are the requirements ?</a>
                                     </div>
                                     <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                         <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo ducimus qui blanditiis praesentium ducimus qui.
                                         </div>
                                     </div>
                                 </div>
                                  <div class="card">
                                      <div class="card-header">
                                         
                                          <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">Does Educavo offer free courses?</a>
                                      </div>
                                      <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                                          <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo ducimus qui blanditiis praesentium ducimus qui.
                                          </div>
                                      </div>
                                  </div>
                                  <div class="card">
                                      <div class="card-header">
                                         
                                          <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false">What is the transfer application?</a>
                                      </div>
                                      <div id="collapseThree" class="collapse" data-parent="#accordion" style="">
                                          <div class="card-body">
                                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo ducimus qui blanditiis praesentium ducimus qui.
                                          </div>
                                      </div>
                                  </div>   
                              </div>
                          </div>
                      </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- faq Section Start -->

        

        

        

       

       
    </div> 
    <!-- Main content End -->


{% endblock %}