{% load static %}
{% load i18n %}


{% block css %}
    <link href="{% static 'backend/css/navbar.css' %}" rel="stylesheet">
{% endblock css %}

{% block navbar %}

    <!-- NAVBAR -->
    {% if user.is_authenticated %}


        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar_width">

            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'dashboard' %}">KIWEP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">

                        {% if user.is_speaker %}
                            <a class="nav-link" href="{% url 'team_list' %}">{% trans 'board_team' %}</a>
                            <a class="nav-link" href="{% url 'project_list' %}">{% trans 'project_template' %}</a>
                            <a class="nav-link" href="{% url 'answer_mission_list' %}">{% trans 'board_answers' %}</a>

                        {% elif user.is_student %}
                            <a class="nav-link" href="{% url 'team_list' %}">{% trans 'student_projects' %}</a>
                            <a class="nav-link" href="{% url 'my_mission_list' %}">{% trans 'student_missions_list' %}</a>
                        {% elif user.is_representative %}
                            {% trans 'welcome_to_intstitution_message' %}

                        {% endif %}


                    </div>
                </div>
            </div>

            <div class="btn-group">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{user.profilepic_or_default}}" class="profile_pic_rounded" width="65" height="65" alt="logo">
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'profile' %}">{% trans 'profile' %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'edit_profile' %}">{% trans 'profile_edit' %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">{% trans 'logout' %}</a></li>
                    {#                        <li>#}
                    {#                            <hr class="dropdown-divider">#}
                    {#                        </li>#}
                    {#                        <li><a class="dropdown-item" href="#">{% trans 'other' %}</a></li>#}
                </ul>

            </div>
 {% include 'languages.html' %}
        </nav>
    {% endif %}
{% endblock %}

