{% extends 'homepage.html' %}
{% load static %}
{% load i18n %}
{% block content %}


<div id="background">
<div>
    <div>
        <div>
            <div>
                <h5>{% trans 'sign up' %}</h5>
                <div>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Sign Up"><br>
                        <button type="button" name="button"><a href="{% url 'login' %}">{% trans 'back_to_login'%}</a></button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}