<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_sign.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/select.js"></script>
    <title>Sign Up</title>
</head>

<body>
    <div id="wrapper">
        <div id="logo">
            <a href="#"></a>
        </div>

        <div id="background">
            <div id="opacity">
                <!-- <div>
                    <form action="" method="GET">
                        <br>
                        <br>
                        <input type="text" name="fname" pattern="" placeholder="First Name*" required>
                        <br>
                        <br>
                        <input type="text" name="lname" pattern="" placeholder="Last Name*" required>
                        <br>
                        <br>
                        <input type="date" name="birthdate" pattern="" placeholder="Date of Birth*" required>
                        <br>
                        <br>
                        <input type="tel" name="phone" pattern="" placeholder="Phone Number*" required>
                        <br>
                        <br>
                        <input type="text" name="city" pattern="" placeholder="City*" required>
                        <br>
                        <br>
                        <label>Class:*</label>
                        <br>
                        <select>
                            <option value="" selected disabled>Choose your option</option>
                            <option value="3">3rd</option>
                            <option value="4">4th</option>
                            <option value="5">5th</option>
                            <option value="6">6th</option>
                        </select>
                        <br>
                        <br>
                        <input type="text" name="field" pattern="" placeholder="Field*" required>
                        <br>
                        <br>
                        <div><input type="submit" value="Sign In"></div>
                    </form>
                </div> -->

                <div class="row">
                    <form class="col s12">
                        <!-- <div class="row"> -->
                            <div class="input-field col s5">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">First Name*</label>
                            </div>
                            <!-- <br> -->
                            <div class="input-field col s5">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Last Name*</label>
                            </div>
                        <!-- </div> -->
                        <!-- <div class="row"> -->
                            <div class="input-field col s5">
                                <input type="date" class="validate">
                                <label>Birth Date*</label>
                            </div>
                        <!-- </div> -->
                        <!-- <div class="row"> -->
                            <div class="input-field col s5">
                                <input id="phone" type="tel" class="validate">
                                <label>Phone*</label>
                            </div>
                        <!-- </div> -->
                        <!-- <div class="row"> -->
                            <div class="input-field col s8">
                                <input id="email" type="email" class="validate">
                                <label>Email*</label>
                            </div>
                        <!-- </div> -->
                        <!-- <div class="row"> -->
                            <div class="input-field col s5">
                                <input id="password" type="password" class="validate">
                                <label>Password*</label>
                            </div>
                        <!-- </div> -->
                        <!-- <div class="row"> -->
                            <div class="input-field col s5">
                                <input id="city" type="text" class="validate">
                                <label>City*</label>
                            </div>
                        <!-- </div> -->
                        <!-- <label>Class*</label> -->
                        <div class="input-field col s5">
                            <select>
                                <option value="" disabled selected>Choose Class</option>
                                <option value="3">3rd</option>
                                <option value="4">4th</option>
                                <option value="5">5th</option>
                                <option value="6">6th</option>
                            </select>
                        </div>
                        <!-- <label>Field*</label> -->
                        <div class="input-field col s5">
                            <select>
                                <option value="" disabled selected>Choose Field</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                        <div><a href="#" class="waves-effect blue btn">Sign Up</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>