{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="rs-cart orange-color pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <h2>Create new Project</h2>
        <div class="cart-wrap">
            <form>
                <table class="cart-table">
                    <form action="", method="POST">

                        {% csrf_token %}
                        {{form|crispy }}
                    
                        <button class="btn-shop orange-color" type="submit" value="Save">SAVE</button>
                    </form>
                </table>
            </form>
            
            </div>
        </div>
    </div>




<a class="btn-shop orange-color" href="{% url 'project_list' %}">List Project </a>


{% endblock %}