
{% extends 'baseb.html' %}

{% block content %}

<div>
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'password_change' %}">Change password</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

    Basic User Profile

    {{user.username}}
    {{user.get_user_type}}

    <a href="{% url 'edit_profile' %}">Edit Profile</a>

</div>


<div>

    {% if user.profile.name == 'representative' %}

    {% include 'accounts/profile/representative_profile.html' %}
    
    
    Adding here Isntitution attached to hime 
    
    {% elif user.profile.name == 'speaker' %}
    
    {% include 'accounts/profile/speaker_profile.html' %}
    speaker Profile
    
    {% elif user.profile.name  == 'student' %}
    
    {% include 'accounts/profile/student_profile.html' %}
    
    student Profile 
    
    {% endif %}
    


</div>

{% endblock %}