{% load i18n %}
{% load static %}
<body class="app-profile">

  <div class="main-wrapper">
    <div class="profile-header">
        <div class="row">
            <div class="col-md-4">
              <div class="card profile_card">
                <img src="{{ 'user.profilepic_or_default' }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{% trans 'about'%}</h5>
                      <div class="">


                      <ul class="list-unstyled profile-about-list">
                            <span>{% trans 'study_hisitory' %}:
                            <a href="#">{{user.profile.institution.name}}</a>
                          </span>

                          <li><span>{% trans 'from'%}: <a href="#">{{user.city}}</a></span></li>
                      </ul>
                      </div><br>

                      <p class="card-text">{% trans 'what_would_you_like_to_know' %}</p>

                    </div>
              </div>
                  <div class="profile-menu">
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="card profile_card">
                      <div class="card-body">
                          <h3 class="card-title">{{user.username}} <span>{{ user.get_user_type }}</span></h3>
                          <i> {% trans 'active' %}</i>
                      </div>
                      <div>
                        <button type="button" name="button" class="btn" ><a href="{% url 'edit_profile' %}">{% trans 'edit_profile'%}</a></button>
                  </div>
                  </div>
                  <div class="card profile_card">
                      <div class="card-body">
                          <h5 class="card-title">{% trans 'contact_info'%}</h5>
                          <ul class="list-unstyled profile-about-list">
                              <li><i class="material-icons details_icon">{% trans "email" %}</i><span>{{user.email}}</span></li>
                              <li><i class="material-icons details_icon">home</i><span>{% trans 'live_in' %}<a href="#">{{user.city}}</a></span></li>
                              <li><i class="material-icons details_icon">local_phone</i><span>{{user.phone_number}}</span></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="profile-content">
          <div class="row">
              <div class="col-md-8">
                  <div class="card profile_card">
                      <div class="card-body">
                          {% trans 'speaker_info_bio'%}
                      </div>
                  </div>

              </div>

          </div>
      </div>
  </div>

</body>
