{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'backend/css/speaker_profile.css' %}" rel="stylesheet">
{% endblock css %}



<div class="profile_container">

    <div class="profile_main_information_display">
        <div class="profile_image_container">
            <img class="image_size" src="{{user.profilepic_or_default}}" width="300px" height="300px">
        </div>

        <div class="basic_info_profile_container">

            <div class="user_details">

                <div class="information_data_display">
                    <ul class="ul_display"><lable class="information_label">{% trans 'first_name' %}   </lable>
                        <p class="user_data_profile_display">{{ user.first_name }}</p>
                    </ul>

                    <ul class="ul_display"><lable class="information_label">{% trans 'last_name' %}   </lable>
                        <p class="user_data_profile_display">{{ user.last_name }} </p>
                    </ul>

                    <ul class="ul_display"><lable class="information_label">{% trans 'phone_number' %}   </lable>
                        <p class="user_data_profile_display">{{ user.phone_number  }}</p>
                    </ul>

                    <ul class="ul_display"><lable class="information_label">{% trans 'city' %}   </lable>
                        <p class="user_data_profile_display">{{ user.city }}</p>
                    </ul>

                    <ul class="ul_display"><lable class="information_label">{% trans 'institution' %}   </lable>
                        <p class="user_data_profile_display">{{ user.profile.institution.first.name }}</p>
                    </ul>


                    <ul class="ul_display"><lable class="information_label">{% trans 'status' %}   </lable>
                        {% if user.get_user_type == "is_student" %}
                            <p class="user_data_profile_display">{% trans 'student' %}</p>
                        {% elif user.get_user_type == 'is_speaker' %}
                            <p class="user_data_profile_display">{% trans 'student' %}</p>
                        {% elif user.get_user_type == 'is_speaker' %}
                        {%  else %}
                            <p class="user_data_profile_display">{% trans 'not_registered' %}</p>
                        {% endif %}
                    </ul>

                </div>

                <div class="groups_display">

                    <ul class="ul_display"><lable class="information_label">{% trans 'groups' %}   </lable>
                        <div class="groups_list">

                        {% for group in user.profile.group.all %}

                            <p class="user_data_profile_display">{{ user.first_name }}</p>
                        {% endfor %}
                        </div>
                    </ul>

                </div>

            </div>
        </div>
    </div>

</div>

