{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'backend/css/profile.css' %}" rel="stylesheet">
{% endblock css %}



<div class="profile_container">

    <div class="profile_main_information_display">
        <div class="profile_image_container">
            <img class="image_size" src="{{user.profilepic_or_default}}" width="300px" height="300px">
        </div>

        <div class="basic_info_profile_container">

            <div class="user_details">

                <div class="information_data_display">
                    <ul class="ul_display"><lable class="information_label">{% trans 'first_name' %}   </lable>
                        <p class="user_data_profile_display">{{ user.first_name }}</p>
                    </ul>

                    <ul class="ul_display"><lable class="information_label">{% trans 'last_name' %}   </lable>
                        <p class="user_data_profile_display">{{ user.last_name }} </p>
                    </ul>

                    <ul class="ul_display"><lable class="information_label">{% trans 'phone_number' %}   </lable>
                        <p class="user_data_profile_display">{{ user.phone_number  }}</p>
                    </ul>

                    <ul class="ul_display"><lable class="information_label">{% trans 'city' %}   </lable>
                        <p class="user_data_profile_display">{{ user.city }}</p>
                    </ul>

                    <ul class="ul_display"><lable class="information_label">{% trans 'institution' %}   </lable>
                        <p class="user_data_profile_display">{{ user.profile.class_level.name }}</p>
                    </ul>


                    <ul class="ul_display"><lable class="information_label">{% trans 'status' %}   </lable>
                            <p class="user_data_profile_display">{{user.get_user_type}}</p>

                    </ul>

                </div>

                <div class="groups_display">

                    <ul class="ul_display"><lable class="information_label">{% trans 'teams' %}   </lable>
                        <div class="groups_list"  >

                        {% for team in user.profile.team_set.all %}
                            <p class="group_label">{{ team.name}}</p>
                        {% endfor %}
                        </div>
                    </ul>

                </div>

            </div>
        </div>
    </div>

</div>

