
{% load i18n %}
<body class="app-profile">

  <div class="main-wrapper">
    <div class="profile-header">
        <div class="row">
            <div class="col-md-4">
              <div class="card profile_card">
                <img src="{{ 'user.profilepic_or_default' }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{% trans 'about'%}</h5>
                      <div class="">

                        <ul class="list-unstyled profile-about-list">
                            <li><i class="material-icons details_icon">school</i><span>{% trans 'Studing' %} --------- at <a href="#">{{user.profile.institution.name}}</a></span></li>

                            <li><i class="material-icons details_icon">my_location</i><span>{% trans 'from' %} <a href="#">{{user.city}}</a></span></li>
                            <li>{% trans 'part_of_lable' %} {{ user.profile.class_level.institution.name }} </li>
                            <li>{% trans 'group_name_lable' %} {{ user.profile.class_level.name }} </li>
                            <li>

                                <!-- <button class="btn btn-block btn-secondary m-t-lg">Message</button> -->
                            </li>
                        </ul>
                      </div><br>

                      <p class="card-text">what would you like to know?</p>

                    </div>
              </div>
                  <div class="profile-menu">
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="card profile_card">
                      <div class="card-body">
                          <h3 class="card-title">{{user.username}} <span>{{ user.get_user_type }}</span></h3>
                          <i> Active</i>
                      </div>
                      <div>
                        <button type="button" name="button" class="btn" ><a href="{% url 'edit_profile' %}">{% trans 'edit_profile_button'%}</a></button>
                  </div>
                  </div>
                  <div class="card profile_card">
                      <div class="card-body">
                          <h5 class="card-title">{% trans 'contact_info'%}</h5>
                          <ul class="list-unstyled profile-about-list">
                              <li><i class="material-icons details_icon">mail_outline</i><span>{{user.email}}</span></li>
                              <li><i class="material-icons details_icon">home</i><span>{% trans 'live_in' %}<a href="#">{{user.city}}</a></span></li>
                              <li><i class="material-icons details_icon">local_phone</i><span>{{user.phone_number}}</span></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="profile-content">
          <div class="row">
              <div class="col-md-8">
                  <div class="card profile_card">
                      <div class="card-body">
                          {% trans 'speaker_info_bio'%}
                      </div>
                  </div>

              </div>

          </div>
      </div>
  </div>


</body>
