{% extends 'basem.html' %}
{% load static %}
{% load i18n %}

{% block content %}


    {% block extrahead %}
          <link href="{% static 'backend/css/stylesm.css' %}" rel="stylesheet" >
    {% endblock extrahead %}



{% if user.is_representative %}

{% include 'backend/representative_dashboard.html' %}


{% elif user.is_speaker %}

{% include 'backend/speaker_dashboard.html' %}




{% elif user.is_student %}

{% include 'backend/student_dashboard.html' %}




{% endif %}



<!-- <a href="{% url 'edit_profile' %}">{% trans 'edit_profile'%}</a> -->



{% endblock %}
