{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}


    {% block extrahead %}
          <link href="{% static 'backend/css/dashboard.css' %}" rel="stylesheet" >
    {% endblock extrahead %}

  <div><h3>{% trans 'welcome'%} {{user.first_name}}</h3></div>

{% if user.is_representative %}

{% include 'backend/representative_dashboard.html' %}


{% elif user.is_speaker %}

{% include 'backend/speaker_dashboard.html' %}


{% elif user.is_student %}

{% include 'backend/student_dashboard.html' %}




{% endif %}



<!-- <a href="{% url 'edit_profile' %}">{% trans 'edit_profile'%}</a> -->



{% endblock %}
