Hello, {{ user.username|default:'Guest' }}!




<div>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'password_change' %}">Change password</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

Hello, {{ user.username|default:'Guest' }}!


<div>
    Student Dashboard




    <div class="main-wrapper">
        <div class="row stats-row">
            <div class="col-lg-8">
                <div class="card card-transactions">
                    <div class="card-body">
                        <h5 class="card-title">Available Project<a href="#" class="card-title-helper blockui-transactions"><i
                                    class="material-icons">refresh</i></a></h5>
        

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Team Name</th>
                                        <th scope="col">Project Name </th>
                                        <th scope="col">Field</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for team in user.profile.class_level.team_set.all  %}
                                    {% if request.user.profile not in team.participants.all %}


                                    <tr>
                                        <td> <a href="{% url 'team_detail'  team.id %}">{{team.name}}</a> </td>
                                        <td>{{ team.project.name }}</td>
                                        <td>{{ team.project.field }}</td>
                                        <td>{{ team.project.time_to_complet }}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card card-transactions">
                    <div class="card-body">
                        <h5 class="card-title">My Team  Project<a href="#" class="card-title-helper blockui-transactions"><i
                                    class="material-icons">refresh</i></a></h5>
        
                            <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Team Name</th>
                                        <th scope="col">Project Name </th>
                                        <th scope="col">Field</th>
                                        <th scope="col">Time To Complete</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for team in user.profile.team_set.all %}


                                    <tr>
                                        <td> <a href="{% url 'team_detail'  team.id %}">{{team.name}}</a> </td>
                                        <td>{{ team.project.name }}</td>
                                        <td>{{ team.project.field }}</td>
                                        {% if project.completed != 'True' %}
                                        <td>In Process</td>
                                        {% else %}
                                        <td>Project is Done</td>
                                        {% endif %}     
                                    </tr>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-lg-4 col-md-12">
                <div class="card card-transparent stats-card">
                    <div class="card-body">
                        <div class="stats-info">
                            <h5 class="card-title">My Missions<span
                                    class="stats-change stats-change-success">#Missions</span></h5>

                            <a href="{% url 'mission_list' %}">All Missions List</a>


                            <div class="top-products-list">

                                {% for mymission in user.profile.my_missions.all %}
                                <div class="product-item">
                                  <a href="{% url 'mission_detail' mymission.id%}">       <h5>{{ mymission.mission.name }}</h5>/a>                       
                                    
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="card card-transparent stats-card">

                    <div class="card-body">
                        <div class="stats-info">
                            <h5 class="card-title">Resource<span class="stats-change stats-change-success">nbr
                                    of Rsc</span></h5>
                          
                            <a href="{% url 'resource_list' %}">Resource List</a>


                            <div class="top-products-list">

                                {% for mission in user.my_mission.all %}
                                {% for resource in mission.resources.all %}

                                <div class="product-item">

                                    {{resource.name}}




                                </div>
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</div>
</div>