{% extends 'baseb.html' %}


{% block content %}
<div class="row">
    <div class="col-xl">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Project Progress</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Team Memebers</h5>
                <ul class="list-group">
                    {% for member in participants_list %}

                    <li class="list-group-item"><a href="#">{{user.profile.first_name}}</a></li>
            

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-8 col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Project Overview</h5>
                
            </div>
        </div>
    </div>
</div>


{% endblock %}