.main_base_content_block{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #f2f2f2;
    min-height: 100vh;
    max-height: 100vh;
}

.table{
    width: 98%;

}



/*_______STUDENT ANSWER BOARD*/

.student_missions_board_container{
    width: 95%;
    min-height: 90vh;
    max-height: 90vh;
}

.mission_board_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4rem;
}


.team_name_link{
    display: inline-block;
    min-width: 100%;

}

.mission_list{
    /*min-height: 5rem;*/
    max-height: 80vh;
    overflow: auto;
}

.table_row_mission_answer_table{
    width: 100%;
    min-height: 3rem;
}