.main_base_content_block{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #f2f2f2;
    min-height: 100vh;
    max-height: 100vh;
}

.table{
    width: 98%;

}



/*_______STUDENT ANSWER BOARD*/

.student_missions_board_container{
    width: 95%;
    min-height: 90vh;
    max-height: 90vh;
}

.mission_board_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.mission_title_mission_list{
        display: block;
    word-break: break-all;
    min-width: 600px;
    max-width: 600px;
    min-height: 2rem;
    max-height: 2rem;
    overflow: hidden;
}

.team_name_link{
    display: block;
    word-break: break-all;
    min-width: 600px;
    max-width: 600px;
     min-height: 2rem;
    max-height: 2rem;
    overflow: hidden;

}

.mission_list{
    /*min-height: 5rem;*/
    max-height: 80vh;
    overflow: auto;
}

.table_row_mission_answer_table{
    width: 100%;
    min-height: 2rem;
    max-height: 3rem;
}

.mission_list_due_date{
min-width: 200px;
max-width: 200px;

}