.btn_group_navigation{
    height: 6rem;
    width: 40%;
    }

/*.btn{*/
/*    */
/*}*/

.primary_button{
    width: 13rem;
    height: 2rem;
    background-color: #449162;
    border: #92b392 solid 1px;
    margin: 1rem;
}

.primary_button h5{
    color: white;
    font-weight: bold;
    font-size: medium;

}


.secondary_button{
    width: 13rem;
    height: 2rem;
    background-color: #92b392;
    border: #92b392 solid 1px;
     margin: 1rem;

}

.secondary_button h5{
    color: white;
    font-weight: bolder;

}

.neutral_action{
    width: 14rem;
    height: 2.5rem;
    background-color:#c0c2c1;
    border: #bfc9c5 solid 1px;
    margin: 5px;
}

.neutral_action h5{
   color: #597F53;
    font-weight: normal;
}

.discussion_button{
    min-width: 90%;
    max-width: 90%;
    color: white;
    background-color:#64748f ;
    padding: 5px;
    margin-top: 1rem;
}

.discussion_button h3{
    min-width: 95%;
    max-width: 95%;
    color:white;
    overflow: hidden;

}

.claim_mission{
 width: 15rem;
 height: 5rem;
}

.clear_button{
    border: none;
    background-color: transparent;
}

.submit_button{
    background-color: #92d192;
}

.edit_button{
    background-color: lightgray;
    width: 8rem;
    height: 2rem;
    /*color: white;*/
}

.delete_button{
      background-color: lightsalmon;
    width: 8rem;
    height: 2rem;
}

.add_button{
    background-image: ;
}