



.dashboard_container{
    display: flex;
    flex-direction: column;
    min-width: 90%;
    margin: auto;
}

.dashboard_top_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*width: 40%;*/
}

.dashboard_logo{
    width: 40%;
    min-height: 30%;
    max-height: 40%;
}
.video_dashboard_speaker{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    padding: 5rem;
}

.dashboard_extra_navigation_link{
    display: flex;
    flex-direction: row;
    min-width: 50%;
    max-width: 60%;
    min-height: 30%;
    justify-content: space-between;
    margin: auto;
}

.dashboard_navigation_link_item{
    width: 200px;
    height: 200px;
    border: solid black 4px;
}

.dashboard_speaker_information_header{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: larger;
    color: #1c7430;
    justify-content: center;
    margin: auto;
}

.number_count_info{
    font-size: larger;
    font-weight: bolder;
}