.card_round{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: orange;
    align-self: center;
    justify-items: center;
    justify-content: center;


}


.container-fluid{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}