


#main {
  display: flex;
  flex-direction: row;
  background-color: 9fce9c;
    justify-content: center;
  } */
  /* width: 85%; */
  /* padding-top: 40px; */


 #homepage_try_us{
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 100px;
  height: 50vh;
  color: #0b2e13;
  align-self: right;

}
