.mission_detail_container{
    display: flex;
    flex-direction: column;
    align-content:center;
    width: 100% ;
    min-height: 100vh;
    padding: 0rem 5rem;
}

.mission_detail_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:90%;
    margin-left: 6%;
}

.btn-light:hover{
    color: #000000;
}

.btn-sm{
    height: 40px;
}

button .edit_button{
    line-height: 3px;
}

.mission_detail_main_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
}
.mission_detail_details{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 30vh;
    justify-content: space-between;
}
.mission_learning_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mission_detail_description{
    max-height: 50%;
    min-width: 100%;
    max-width: 100%;
    border: #0b2e13 2px solid;
    background-color: #1c7430;
}

.mission_related_elements_content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    min-height: 20vh;
    margin-top: 3rem;
}

.animation_div{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin-right: 2rem;

}




.image_animation{
    width: 400px;
    align-content: flex-end;
}

.mission_status_box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    width: 30%;
    height: 20%;
    align-items: center;
    border: #0b2e13 6px solid;
    margin-left: 5rem;
    flex-wrap: wrap;
}
.mission_attribution_detail{

}
.mission_attributed_to{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mission_detail_answer_content{
    display: flex;
    margin-top: 5rem;
    width: 40%;
    border: #1c7430 2px solid;
    justify-content: center;
    align-content: flex-end;
   height: 100%;

}
.lable_mission_status{
    display: flex;
    justify-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #82cc81;
    border-radius: 10%;
    width: 95%;
    padding: 1rem;
    color: whitesmoke;

}

.mission_answer_include{
    display: flex;
    margin-top: 2rem;
}
.mission_status_box button{
    margin-left: 50px;
}

.small_title{
    font-weight: bolder;
}

.answer_status_lable{
    padding: 1rem;
    /*background-color:;*/
}
.resource_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
    min-height: 30%;
    max-height: 90%;
    margin-top: 67px;
}

.mission_resource_list_items{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.mission_resource_list_items div{
    /* margin-left: auto; */
}
.btn_control_mission{
    margin-left: auto;
}

.image_resource{
    min-width: 10rem;
    min-height: 1rem;
}

.missions_detail_resource{
    width: 100%;
    /* min-height: 120px; */
}

.missions_detail_resource a{
    margin: auto;
}
.detail_mission_alignment{
    display: flex;
    flex-direction: row;
}
.resource_detail_button_control{
    display: flex;
    flex-direction: row;
}

.resource_name{
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
}
.claim_mission_button{
    background-color: gold;

}

.unclaim_mission_button{
    background-color:grey;
    margin-top: 2rem;
    width: 10rem;
}

/*------SPEAKER ANSWER BOARD-----*/

.speaker_answer_board{
    width: 80%;
}

.speaker_answer_board > h5{
    margin-bottom: 30px;
}
.table_missions_list{

}

/* RESPONSIVE */
@media (max-width: 670px) {

    /* ANSWER-MISSION-LIST Table */

    tbody, thead{
        float: left;
    }

    thead{
        min-width: 40%;
    }

    td,th {
        display: block;
    }
}