.mission_detail_container{
    display: flex;
    flex-direction: column;
    justify-content:start;
    width: 100% ;
    min-height: 100vh;
    padding: 0rem 5rem;
}

.mission_detail_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:90%;
    margin-left: 6%;
}

.btn-light:hover{
    color: #000000;
}

.btn-sm{
    height: 40px;
}

button .edit_button{
    line-height: 3px;
}

.mission_detail_main_content{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-top: 2rem;
}
.mission_detail_details{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}

.mission_detail_description{
        min-height: 50%;
}

.mission_related_elements_content{
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 30vh;
    max-height: 60vh;
    margin-top: 3rem;
    justify-content: flex-end;
}

.animation_div{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.mission_status_box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 3rem;
    width: 50%;
    align-items: center;
}

.mission_attributed_to{
display: flex;
    flex-direction: column;
    width: 100%;
}

.mission_status_box button{
    margin-left: 50px;
}

.small_title{
    font-weight: bolder;
}

.resource_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    min-height: 30%;
    max-height: 90%;
    margin-top: 67px;
}

.mission_resource_list_items{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mission_resource_list_items div{
    /* margin-left: auto; */
}
.btn_control_mission{
    margin-left: auto;
}

.image_resource{
    min-width: 10rem;
    min-height: 1rem;
}

.missions_detail_resource{
    border: 1px solid black;
    width: 15%;
    /* min-height: 120px; */
}

.missions_detail_resource a{
    margin-left: 7.5%;
}

.mission_learning_info{

}

.claim_mission_button{
    background-color: gold;

}

.unclaim_mission_button{
    background-color:lawngreen;
    margin-top: 2rem;
    width: 10rem;
}

/*--------------------------SPEAKER ANSWER BOARD*/

.speaker_answer_board{
    width: 80%;
}

.table_missions_list{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}