


.profile_container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.profile_main_information_display {

    display: flex;
    flex-direction: row;
    width: 80%;
    min-height: 40vh;
    margin-top: 3rem;

}

.profile_image_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 30%;
    max-width: 30%;
    min-height: 400px;
    max-height: 400px;
}

.image_size{
    max-width: 300px;
    max-height: 300px;
}

.basic_info_profile_container{
    display: flex;
    flex-direction: column;
    min-width: 60%;
    max-width: 60%;
    min-height: 80%;
    max-height: 80%;
    margin-left: 1rem;

}

.user_details{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.information_data_display{
    display: flex;
    flex-direction: column;
    max_width: 70%;
    min-width: 70%;
    min-height: 100%;
    max-height: 100%;

}
.information_label{
    font-size: larger;
    font-weight: bolder;
    min-width: 10rem;
}

.user_data_profile_display{
    display: flex;

}

.groups_display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 50%;
    max-width: 50%;
    min-height: 100%;
    max-height: 100%;
}

.team_display_profile{
     display: flex;
    flex-direction: column;
    min-height:60%;
    max-height:60%;
    min-width:  100%;
    max-width: 100%;

}

.groups_list{
    overflow: scroll;
}
.group_name_student{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.team_label_student{
    min-width: 100%;
    max-width: 100%;
    min-height: 2rem;
    max-height: 2rem;
    padding: 3px;
    margin-bottom: 1rem;
    background-color: lightgray;
    border: solid 1px lightgray;
}

.ul_display{
    display: flex;
    flex-direction: row;
    min-width: 70%;
    max-width: 70%;
    min-height:3rem;
    max-height: 3rem;3rem}
