.resource_detail_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 85vh;
}

.resource_description{
    min-height: 200px;
    max-height: 250px;
    background-color: whitesmoke;
    min-width: 500px;
    max-width: 500px;
    border: gainsboro 3px solid;
    wrap-option: wrap;
    margin: 1rem 1rem 2rem 0rem;
}
.resource_image{
    width:200px;
    min-height: 200px;
    border: grey solid 3px;
    margin-top: 1rem;

}

.resource_image_big{
    width: 100%;
    height: 100%;
}
.resource_file_big{
      width: 100%;
    height: 100%;
}

.speaker_btn_group{
    display: flex;
    margin-left: -50%;
    width: 30%;
    justify-content: space-between;
}

.container_resource{
    border: solid 4px #dce8e0;
    display: flex;
    flex-direction: column;
    min-width: 80%;
    max-width: 80%;
    min-height: 80vh;
    max-height: 80vh;
    background-color: #e1ebe4 ;
    margin-top: 3rem;
    padding: 1rem;
}

.container_resource div, img, h3, p{
    background-color: transparent;
}
.resource_detail{
    display: flex;
    flex-direction: row;
}
.resource_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resource_link_btn{
    background-color: #0b2e13;
    width: 200px;
    color: white;
    font-weight: bolder;
    font-family: Helvetica;
    font-size: larger;
}
.resource_img_box{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    min-width: 30%;
    max-width: 3%;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
}

.see_file_resource_button{
    max-height: 3rem;
    min-width: 10rem;
    max-width: 10rem;
    border: #0b2e13 solid 4px;
}

.resource_additional{
    display: flex;
    flex-direction: column;
    background-color: #d9dbda !important;
    min-width: 500px;
    max-width: 500px;
    padding: 1rem;
    justify-content: space-between;
}

.link_resource_box{
    min-height3:4rem ;
    max-height: 4rem;
        border: grey solid 4px;

}

.additional_file_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.modal-dialog_view_document{
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    max-height: 100%;
}

.view_document_modal_content{
    overflow: auto;
}
