
.resource_detail_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 85vh;
}

.container_resource{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid 4px #dce8e0;*/
    min-width: 80%;
    max-width: 80%;
    min-height: 100vh;
    max-height: 100vh;
    /*background-color: #f0f2ed ;*/
    margin-top: 3rem;
    padding: 1rem;
}

.container_resource div, img, h3, p{
    background-color: transparent;
}



.resource_description_box{
    display: flex;
    flex-direction: column;
    min-height: 80%;
    max-height: 80%;
    min-width: 40%;
    max-width: 40%;
}
.resource_description{
    padding: 1rem;
    min-height: 50%;
    max-height: 50%;
    min-width: 100%;
    max-width:100%;
    overflow: scroll;
}

.action_button_resource_speaker{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.resource_detail{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    max-width:100%;
    min-height: 90vh;
    max-height: 90vh;
    justify-content: space-between;
    align-content: center;
    margin-top: 1rem;
}


.resource_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resource_link_btn{
    background-color: #0b2e00;
    width: 20rem;
    height: 4rem;
    padding: 1rem;
    color: white;
    font-weight: bolder;
    font-family: Helvetica;
    font-size: larger;
}
.resource_img_box{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 50%;
    min-height: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: space-between;
}

/*.see_file_resource_button{*/
/*    max-height: 3rem;*/
/*    min-width: 10rem;*/
/*    max-width: 10rem;*/
/*    border: #0b2e13 solid 4px;*/
/*}*/


.resource_image{
    min-width:100%;
    max-width:100%;
    min-height: 100%;
    max-height:  100%;

}



.resource_image_big{
    max-width: 100%;
    max-height: 100%;
    min-width: 40%;
}

.resource_file_small{
    min-width: 10rem;
    max-width: 10rem;
    min-height: 3rem;
    max-height: 3rem;
}


.resource_file_big{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    min-height: 100%;
}

.speaker_btn_group{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}

.resource_additional{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width:100%;
    padding: 1rem;
    justify-content: space-between;
}


.additional_file_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.see_additional_file{
    min-height: 3rem;
    max-height: 3rem;
    width: 20rem;
    padding: 5px;
}
.modal-dialog_view_document{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.view_document_modal_content{
    overflow: auto;
}
