.mission_detail_container{
    display: flex;
    flex-direction: column;
    align-content:center;
    width: 100% ;
    min-height: 100vh;
    padding: 0rem 3rem;

}

.mission_detail_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width:90%;
    max-width:90%;
    min-height: 4rem;
    max-height: 4rem;
    margin-top:2rem;
}

.mission_detail_header h3{
    padding: 1rem;
    min-width: 60%;
    max-width: 75%;

}


.edit_button_team_speaker{
    background-color: #f7ebad;
    width: 120px;
    margin-right: -10rem;
}
.mission_detail_main_content{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 80vh;
    max-height: 80vh;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 1rem 1rem 1rem 1rem;
    border: 1px #d7dbd7 solid;
    border-radius: 10px;
}




.btn-light:hover{
    color: #000000;
}

.mission_detail_main_panel{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    min-height: 80vh;
    justify-content: space-between;
}

.mission_detail_panel{
    display: flex;
    flex-direction: row;
}

.speaker_mission_action_panel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 35%;
    max-width: 35%;
    min-height: 90%;
    max-height:90% ;
    padding: 0rem 1rem ;
    margin-left: 3rem;
    background-color: #f2f2f2;
    border: 1px #d7dbd7 solid;
    border-radius: 10px;
}

.mission_detail_details{
    display: flex;
    flex-direction: column;
    width: 45%;
    min-height: 30vh;
    max-height: 30vh;
    justify-content: space-between;
    background-color: transparent;
}



.mission_detail_details p{
    background-color: transparent;
}
.mission_detail_details div{
    background-color: transparent;
}.mission_detail_details div h4{
     background-color: transparent;
 }

.mission_learning_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    min-height:  70%;
    max-height: 70%;
    padding-top: 1rem;
     align-content: center;
    padding-left: 1rem;
}

.mission_learning_info label{
       display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25%;
    max-height: 25%;
    min-width: 90%;
    max-width: 90%;
    padding-left: 1rem;
    background-color: white;
    margin-bottom: 5px;
}
.skills_mission{
    display: flex;
    flex-direction: column;
    min-height: 90%;
    max-height: 90%;
    min-width: 90%;
    max-width: 90%;
    padding: 1rem;
    background-color: white;
    margin-bottom: 1rem;
}
.detail_time_to_complete{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 25%;
    max-height: 25%;
    min-width: 90%;
    max-width: 90%;
    padding-left: 1rem;
    background-color: white;
}

.mission_type{
  display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 25%;
    max-height: 25%;
    min-width: 90%;
    max-width: 90%;
    padding-left: 1rem;
    background-color: white;
    margin-bottom: 1rem;
}
.skills_name{
    min-height: 70%;
    background-color: transparent;
}
.skills_name ul{
    border: 2px grey solid;
    max-width: 100%;
    margin-bottom: 1rem;
}

.skills_mission_header{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 20%;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: transparent;
}


.plus_button{
    max-width: 30px;
    max-height: 30px;
    background-color: #0b2e13;
    color: whitesmoke;
}
.mission_detail_description{
    max-height: 50%;
    min-width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    padding: 1rem;
}
.mission_related_elements_content {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 35vh;
    max-height: 35vh;
    justify-content: space-between;
    align-content: flex-end;
    padding: 1rem;

}
.animation_div{
    display: flex;
    justify-content: flex-end;
    width: 350px;
    margin-right: 1rem;
    background-color: transparent;
}




.image_animation{
    width: 100%;
    align-content: flex-end;
    border: black solid 3px;
}

.mission_status_box button{
    margin-left: 50px;
}

.mission_status_box {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    min-height:15%;
    max-height: 15%;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.mission_attribution_detail{
    width: 100%;
    min-height: 20%;
}

.mission_attributed_to_label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;padding: 5px;
    width: 100%;
    /*background-color: #ebddd3;*/
    color: grey;

}

.mission_attributed_to_label h3{
    background-color: transparent;
    color: darkgrey;

}

.mission_attr_name{
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    font-weight: bolder;
    font-family: Helvetica;
    width: 70%;
    height: 3rem;
    padding: 6px;
    background-color: whitesmoke;
    color: grey;
    margin-left: 1rem
}
.speaker_mission_related_elements_content{
    display: flex;
    flex-direction: column;
    min-height: 80%;
    max-height: 80%;
}
.mission_detail_answer_content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: flex-end;
    min-height: 60%;
    max-height: 60%;
    border-radius: 10px;
}


.label_mission_status{
    display: flex;
    justify-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #82cc81;
    border-radius: 10%;
    width: 95%;
    padding: 1rem;
    color: grey;

}

.mission_answer_include{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: auto;
    width: 100%;
    min-height: 70%;
    max-height: 70%;
}





.small_title{
    font-weight: bolder;
    background-color: transparent;
}

.answer_status_lable{
    padding: 1rem;
    /*background-color:;*/
}
.resource_container{
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-between;
    width: 50%;
    flex-wrap: wrap;
    min-height: 80%;
    max-height: 95%;
    margin-top: 1rem;
    background-color: transparent;
    overflow-scrolling: auto;
}

.add_resource_button{
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    border: 1px solid lightgray
}


.mission_detail_resources_list_box{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    min-height: 70%;
    max-height: 70%;
    overflow: auto;

}


.header_resource_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 15%;
    max-height: 15%;
    justify-content: space-between;
    align-content: center;
    /*margin-bottom: 5px;*/

}

.header_resource_container h3{
    background-color: transparent;
    font-weight: bolder;

}
.image_resource{
    min-width: 5rem;
    max-width: 5rem;

}

.missions_detail_resource{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* min-height: 120px; */
}

.missions_detail_resource a{
    margin: auto;
}

.resource_detail_button_control{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.resource_detail_button_control a img{
    background-color: transparent;
}
.resource_item_detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 7rem;
    /*margin-right: 1rem;*/
    min-width: 90%;
    max-width: 90%;
    margin-bottom: 1rem;
}

.resource_item_detail div{
    background-color: transparent;
}
.resource_name{
    min-width: 60%;
    max-width: 60%;
}

.resource_name{
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}
/*------SPEAKER ANSWER BOARD-----*/

.answer_board{
    width: 80%;
}

.answer_board > h5{
    margin-bottom: 30px;
}
.table_missions_list{

}

/* RESPONSIVE */
@media (max-width: 670px) {

    /* ANSWER-MISSION-LIST Table */

    tbody, thead{
        float: left;
    }

    thead{
        min-width: 40%;
    }

    td,th {
        display: block;
    }
}