
.answer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 200%;
    padding: 1rem 1rem;
    border: white 2px solid;


}


.student_answer_box{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

}

.mission_answer_status_label{
    display: flex;
    flex-direction: row;
    width:80%;
    justify-content: flex-start;
    color: grey;
    font-size: x-large;
    margin-bottom: 5px;
}
.answer_content{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    background-color: transparent;
    width: 80%;
    height: 5rem;
    padding:5px 0px ;

}

.answer_content_box_view{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    min-height:70%;
    max-height: 80%;
    min-width: 100%;
    max-width: 100%;
    justify-content: flex-start;
}


.answer_file_label{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 30%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
.speaker_answer_comment_text_view{
    min-width: 70%;
    max-width: 70%;
    min-height: 80%;
    max-height: 90%;
    overflow: auto;
    border: lightgray solid 2px;
    color: dimgrey;
    border-radius: 10px;
    background-color: white;
}
.mission_response_type_label{
    display: flex;
    flex-direction: row;
    width:80%;
    min-height: 3rem;
    max-height: 3rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.see_file_modal_button{
    width: 7rem;
    background-color: #6e8066;
}
/*student*/
.last_answer_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: #0b2e13 1px solid;
    margin-top: 1rem;
}

.comment_text_last_answer{
    word-wrap: break-word;
    padding: 1rem;
}
.add_answer{
    display: flex;
    flex-direction: column;
    border: 3px solid #0c5460;
    width: 80%;
    padding: 10px 10px;
    background-color:oldlace ;
}


.answer_box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    width: 100%;
}

.medium_title{
    background-color: transparent;
}



.mission_response_type_label h3{
    background-color: transparent;
}
.answer_line{
    width: 100%;
    height: 50%;
}

.last_answer_label{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: lightgreen;
    font-size: larger;
    border: #0b2e13;
}

.modal{
    width: 95%;
    height: 95%;
}

.modal-dialog_view_document{
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    max-height: 100%;
}

.view_document_modal_content{
    overflow: auto;
}


.modal img{
    min-width: 90%;
    max-width: 200%;
    min-height:90% ;
    max-height: 200%;
}