.answer_box{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    min-height: 300px;
    max-height:300px;
    background-color: whitesmoke;
    border: lightgray 1px solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}


.modal_dialog_view_document{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

/*MODAL - VIEW ANSWER */

.modal_dialog_view_answer{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 50%;
    min-height: 100%;
    max-height: 100%;

}

.view_answer_modal_content{
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
}

.modal_answer_text{
    background-color: white;
    overflow: scroll;


}
.modal_answer_text p{
    max-width: 100%;

}
.student_answer_box{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.modal_save_button_answer{
    margin-top: 2rem;
    background-color: #fad673;
    width: 15rem;
    height: 2rem;
}

.mission_answer_status_label{
    display: flex;
    flex-direction: row;
    width:80%;
    margin: auto;
    justify-content: space-between;
}

.answer_status_view_student{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    width: 90%;
    margin-top: 1rem;
}

.answer_status_view_student p{
    min-width: 80%;
    max-width: 80%;
    max-height: 2rem;
    border-radius: 3px;
    font-size: x-large;
}

.collective_existing_answer_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
    min-height: 30%;
    max-height: 30%;
    padding: 3rem 1rem;
    background-color: white;
    margin-top: 1rem;
}

.answer_detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 30%;
    max-width: 30%;
    min-height: 90%;
    max-height: 90%;
}


.response_file_img{
    width: 100px;
    height: 100px;
}


.see_file_modal_button{
    width: 12rem;
    height: 4rem;
    background-color:lightgray ;
}

.see_answer_modal_button{
    width: 12rem;
    height: 4rem;
    background-color:lightgray ;
}



.add_answer{
    display: flex;
    flex-direction: column;
    border: 3px solid #0c5460;
    width: 80%;
    padding: 10px 10px;
    background-color:oldlace ;
}




.answer_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height:20%;
    max-height: 20%;
    border: white 1px solid;
    padding: 3px 6px;
    width: 100%;
}

.answer_header .btn{

}
.answer_box_collective_individual{
    min-width: 50%;
    max-width: 50%;
}

.answer_box_participants_answers{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 50%;
}
.file_place_holder{
    width: 20%;
    height: 50%;
}
.answer_line{
    width: 100%;
    height: 50%;
}

.last_answer_label{
    display: flex;
    width: 60%;
    height: 2rem;
    /*justify-content: center;*/
    /*border-top-left-radius: 30px;*/
    /*border-top-right-radius: 30px;*/
    color:grey;
    font-size: x-large;
    /*border: solid grey 1px;*/
}

.student_answer_form{

}
.django-ckeditor-widget{
    min-width: 80%;
    max-width: 80%;
    min-height: 50%;
    max-height: 50%;
}
#cke_id_response_comment{
    min-width: 90%;
    max-width: 90%;
    min-height: 30%;
    max-height: 50%;
}
.student_answer_form button{
    border: #0b2e13 solid 1px;
    font-size: large;
    margin-top: 1rem;
    margin-left: 60%;
}

.no_answer_student_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 90%;
    max-width: 90%;
    padding: 1rem;
}

.modal-dialog{
    min-width: 80%;
    max-width: 80%;
    min-height:100% ;
    max-height:100% ;
}

.image_modal{
    min-width: 800px;
    min-width: 800px;
    min-height:  700px  ;
    max-height:700px;
    overflow: scroll;
}
/*--------------------------_COLLECTIVE MISSION*/

.collective_answer_container{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    max-width: 100%;
    min-height: 40%;
    max-height: 40%;
    padding: 1rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    /*background-color: #f2f2f2;*/
}


.container_left_side{
    border:solid 4px purple;
    width:50%
}

.container_right_side {
    border: solid 4px pink;
    width: 50%

}

.individual_collective_answer_container{
    display: flex;
    flex-direction: row;
}

.last_answer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 95%;
    background-color: lightgray;
}


individual_collective_mission_answer_container

individual_collective_answer_container
answer_box_collective_individual
answer_header
last_answer_label
edit_answer_button
last_answer_container
action_button_answer_student
see_file_modal_button
file_place_holder
answer_text_last_answer
see_answer_modal_button
file_place_holder
answer_status_view_student