





body {
  font-family:  'Helvetica', 'sans-serif';
  background-color: #8abfa2;
  color: #425940;
}

.modal {
  max-height: 100%;
  max-width: 100%;
}

/*lea add*/
.main_view_base{
  margin-top: 18vh;
}

/*Main COntent blocn From base*/

/*lea add*/
.content_block{
  display: flex;
  flex-direction: column;

}


/* ------- END NAVBAR-------- */


/
