/*This page holds styles for the Main style. Imported in:*/
/* 'base.html'*/

/*

INDEX:
1.  base.html
.  Navbar
.  Project
.  Team
.  Mission
.  Resource
7.  Modal
8. colors
9.
10

*/

/*---------------------------------*/

/*------BASE------*/
body *{
  font-family: Helvetica, sans-serif;
  color: #000000;
}

/*------REGISTER/LOGIN------*/


header{
  display: block;
}

h1{
  font-weight: bold;
  color: rgb(92, 92, 92);
}

.navsize{
  width: 100%;
  height: 50px;
  position: relative;
  padding: 15px;
}


a{
  text-decoration: none;
}

.smallfont{
  font-size: small;
}


#background{
  background-color: rgb(187, 187, 187);
  width: 716px;
  height: 614px;
  display: block;
  margin-top: 55px;
  margin-left: 120px;
}

#opacity{
  opacity: 0.8;
  width: 650px;
  height: 530px;
  background-color: white;
  margin-left: 30px;
  padding-top: 50px;
  position: relative;
  top: 40px;
} 

.aligning{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 110px;
}

.aligning1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 18px;
  background-color: transparent;
}

.aligning2{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 30px;
  left: 150px;
}

.aligning3{
  width: 30px;
  height: 40px;
  position: relative;
  left: 150px;
}

.aligning4{
  position: relative;
  left: 130px;
}

button a:hover{
  color: white;
}

#wrapper{
  margin: 0 auto;
  width: 1000px;
}

#rememcheck{
  position: relative;
  bottom: 30px;
  left: 14px;
  background-color: transparent;
}

.fonts{
  text-decoration: none;
  font-weight: bold;
  font-size: small;
  color:rgb(0, 174, 255);
  background-color: transparent;

}

.formfont{
  font-weight: bold;
}

.forms{
  background-color: transparent;
}

div a{
  background-color: transparent;
}

/*------NAVBAR--------- */

#navbarSupportedContent{
  margin: 0;
  padding: 0;
  text-align: right;
}

.nav_alignment_right{
  display: flex;
  flex-direction: row;
  justify-content: right;
}
/*added by Lea*/
.navbar_items{
  display: flex;
  flex-direction: row;
  background-color: #0c8b51;
}

#logotitle{
  display: flex;
  justify-content: center;
}

#logotitle h1{
  background-color: transparent;
}

#logotitle-nav{
  width: 150px;
  position: relative;
  left: 10px;
  top: 20px;
  background-color: transparent;
}

#profile_info{
  padding-bottom: 15px;
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}


span{
  white-space: nowrap;
  background-color: transparent;
}

#username{
  background-color: transparent;
  margin-left: 17px;
}

#username span{
  font-size: medium;
}

ul li{
  list-style-type:none;
}

nav{
  display: block;
  width: 100%;
}

.menu_navbar_right{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid red 3px;
}

.texter{
  background-color: yellow;
}


.navlinks{
  display: flex;
  padding-left: 0;
  margin-left: 0;
  
}

.navitem{
  padding: 10px 0 0 20px;
  font-size: x-large;
}

/*------BREADCRUMBS------*/

.breadcrumbs{
  position: relative;
  width: 60%;
  bottom: 7px;
  right: 10px;
}

.inline{
  display: inline-block;
  font-size: small;
}
/*------SIDENAV----MENU PANEL----*/
/*------DASHBOARD------*/


.video_sp{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 30px;
}


/*------7 Modal------*/
/*------COLORS------*/
/*------BUTTONS------*/
/*------PROJECT------*/



/*------TEAM------*/



/*------MISSION------*/

/*------RESOURCE------*/
/*------ANSWER------*/
/*------GLOBAL------*/
/*------COMMENT-DISCUSSION------*/
/*------DISCUSSION------*/


/* RESPONSIVE */
@media (max-width: 670px) {
  
  /* REGISTER/LOGIN */
  #wrapper{
    margin: 0 auto;
    width: 100%;
  }
  
  #logotitle{
      background-color: transparent;
  }

  #logotitle h1{
    background-color: transparent;
  }

  #background{
    background-image: none;
    background-color: rgb(163, 163, 163);
    background-repeat: no-repeat;
    width: 380px;
    height: 580px;
    display: block; 
    margin: 50px 
  }

  
  #opacity{
    opacity: 0.8;
    width: 350px;
    height: 530px;
    background-color: white;
    position: relative;
    top: 26px;
    right: 15px;
  } 

  
  .aligning{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
    background-color: transparent;
  }

  a > h1{
    background-color: rgb(184, 181, 181); 
  }

  .formfont{
    font-weight: bold;
    font-size:smaller;

  }

  .aligning2{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30px;
    left: 80px;
    background-color: transparent;
  }

  .aligning3{
    width: 30px;
    height: 40px;
    position: relative;
    left: 80px;
    background-color: transparent;
  }
  
  .aligning4{
    position: relative;
    left: 58px;
  }

  /* DASHBOARD */

  .video_speaker {
 
    width: 370px;
  }
}


/* NAVBAR */
.navbar_width{
  width: 95%;
}


/*ADDED BY LEA TO REPROCESS */
/* base.html */
.main_base_content_block {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  padding: 20px;
}



.delete_button{
  background-color: white;
  border: 4px solid red;
  color: black;
  font-weight: bolder;
  margin:  0rem 2rem;
}



.add_resource_button{
  background-color: #a3c9ac;
}