body {
  font-family: 'RocknRoll One', sans-serif;
  background-color: #f6f6f6;
  color: #7d7d83;
}

 a:visited
  text-decoration: none;
}
.nav-link {
  color: #fffefc;
  text-decoration: none;
}
 a:hover {
  color: #425940;
}
#title_kiwep {
  text-align: center;
  color: #fffefc;
}
button {
  background-color: #9fce9c;
  border: none;
}

button:hover {
  background-image: linear-gradient(to right, #425940, #9fce9c);
  border-radius: 10px;
}
.btn {
  border: none;
  margin:5px;
  background: #9fce9c;
  border-radius: 10px;
  color: #fffefc;
}
.btn:hover {
  background-image: linear-gradient(to right, #425940, #9fce9c);
  border-radius: 10px;
  color: #fffefc;
}
#a_link{
  color:#fffefc;
  font-size: 20px;
}
#center_nav {
  margin-right: 450px;
}
#footer_rights {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 13px;
}

#side_panel {
  background-color: #9fce9c;
  border-radius: 10px;
  color:#f8fafa;
}
#main_panel{
  background:#f8fafa;
  color: #7d7d83;
  border:1px solid (0,0,0,.125);
  border-radius: 10px;
}
main .card {
  margin-bottom: 20px;
}

.footer_social{
  padding: 15px;
  color: #7d7d83;
}
i {
  color: 425940;
}
/* .signup_in {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .19);
  padding: 50px 30px;
  border-radius: 10px;
  min-width: 800px;
  min-height: 500px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f5f7;
} */

.title_signin {
  text-align: center;
  margin-top: 15px;
}

ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}
.color_example {
  background-color: #df5f46;
  height: 870px;
}
.color_example1 {
  background-color: #eca255;
  height: 870px;
}


.color_example5 {
  background-color: white;
  height: 870px;
}
.color_example4 {
  background-color: #425940;
  height: 870px;
}
.input-group{
  margin-right: -70px;
}
.launguage {
  margin-right: 10px;
}
input {
  border-radius: 10px;
}
.forgot-link {
  color: #7d7d83;
  text-decoration: none;
}

.form_bar {
  display: flex;
  justify-content: content;
  align-items: center;
}
Red : df5f46
Orange : eca255
Yellow: f7d493
Light Green  : 9fce9c
Green: 425940
