/*This page holds styles for the Mian style. Imported in:*/
/*'base.html'*/



/*

INDEX:
1.  base.html
.  Navbar
.  Project
.  Team
.  Mission
.  Resource
7.  Modal
8. colors
9.
10


*/

/*__________________________________________________________________*/

/*_______________________________________________________BASE*/


body {
  font-family:  'Helvetica', 'sans-serif';
  background-color: #b2dfdb;
  color: #425940;
}

body h4{
  font-size: 2rem;
  font-weight: bold;
  color: #006064;
}


.main_view_base{
  display: flex;
  margin-top: 10vh;
}

.team_list_table{

}
/*base*/
.main_content_block{
  width: 100%;
  justify-content:flex-start ;
  min-height: 100vh;
}



/*base*/
.content_main_view  {
  width: 90%;
  justify-content:flex-start ;
  border-left: 2px solid whitesmoke;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 100vh;
}

.icon_color_dd{
  color: #0d3349;
}
/* -________________________________________________2________________NAVBAR--------- */
.nav-wrapper {
  background-color:white;
  color: #425940;
}


#user-icon{
  font-size: 40px;
  color: #425940;
}
#arrow-icon {
  color: #425940;
}
#logo-color {
  color: #425940;
}
.green-btn {
  background-color:#757575;
  color:#f7ebdc;
}
.green-btn:hover {
  background-color: #9e9e9e ;
}
.green-btn:active {
  background-color: #9e9e9e ;
}
#a-link {
  color:#425940;
}
#a-link1 {
  color:#425940;
}







/* --------------------------------------------------------------sidebar----MENU PANEL--- */
.main_container{
  display: flex;
  flex-direction: column;
}


/*.link-side-panel {*/
/*  color: #f7ebdc;*/
/*  font-size: 20px;*/
/*}*/
/*.btn-side-panel {*/
/*  border:none;*/
/*  background-color: #8abfa2;*/
/*  margin:5px;*/
/*}*/
/*.no-shadows{*/
/*   box-shadow: none!important;*/
/*}*/
/*.btn-side-panel:hover {*/
/*  border-left: 2px solid #425940;*/
/*  background-color: #8abfa2;*/
/*}*/


.menu_panel{
  width:100%;
}

.collapsible_no_border{
  boder: None;
  box-shadow: None;
}
.menu_panel_color {
  background-color:#b2dfdb ;
  border:None;

}

.menu_panel_color li{
  font-size: 2rem;
  /*font-weight: bold;*/
}




.menu_panel_color li div:hover{
  background-color: #80cbc4;
}


.menu_panel_color .active li div:hover{
  font: helvetica;
  font-size: 2rem;
  color: white;
}

.active, .btn:hover {
  color: white;
}



.link-side-panel li:active{
  background-color: white;
}


.menu_main_div{
}

.sub_menu{
  font-size: 1rem;
}



/*---------------------------------------7 Modal*/

.modal {
  max-height: 100%;
  max-width: 100%;
}




.modal_content{
  display: flex;
  margin-left: 1rem;
}

/*-----------------------------------------------------------__COLORS*/


/*LIGHTER GREEN #e0f2f1 teal lighten-5*/
/*LIGHT GREEN - #b2dfdb teal lighten-4*/
/*LIGHT TURQUOISE #b2ebf2 cyan lighten-4*/
/*Dark Green  teal dark -4 #004d40*/
/*DAK blue #1565c0 blue darken-3*/
/*Dark Red #b71c1c red darken-4*/
/*Yello #ffd600 yellow accent-4*/

/*_________________________________________________________________________Bouttons ___________*/

.speaker_btn_group{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
}


.edit_button {
  background-color: #ffd600;
  display: flex;
  width: 8rem;
  justify-content: center;
  font-weight: bold;
  font-size: medium;
}

.add_button_small{
  background-color: #1565c0;
  display: flex;
  width: 5rem;
  justify-content: center;
  font-weight: bold;
  font-size: medium;
}
/*in project template list */
.speaker_select_project{
  display: flex;
  width: 8rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: medium;
  color: white;
  background-color: #1565c0;
  border:2px solid;
  border-color:  #1565c0;

}
.project_edit_button{
  display: flex;
  width: 5rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: medium;
  color: #1565c0;
  background-color: white;
  border:2px solid;
  border-color:  #1565c0;

}

.duplicate_btn_project{
  display: flex;
  width: 7rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: medium;
  color:  #ffd600;
  background-color: white;
  border:2px solid;
  border-color:  #ffd600;

}


.garbege{
  color: #1565c0;
}

.edit_btn_tbl{
  background-color: #fdd835;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-weight: bold;
  font-size: large;
}

.add_team_button {
  background-color: #1565c0;
  display: flex;
  width: 8rem;
  font-weight: bold;
  font-size: large;

}


.navigation_btn{
  display: flex;
  flex-direction: row;
}


.button_right{
  display: flex;
  justify-content: flex-end;

}

.button_left{
  display: flex;
  justify-content: flex-start;
}

.button_right a {

}

.team_list_btn_gp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}


.speaker_btn_group_select{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-star;
  width: 90%;
}


/*_____________PROJECT____________________________________________________-*/



.project_description_block{
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
  justify-content: space-between;
}



.description_block{
  display: flex;
  flex-direction: column;
  max-width: 70%;
  max-height: 30vh;
  box-shadow: 5px 5px 5px #80cbc4;
  overflow: auto;
}

/*.description_block{*/
/*  flex-wrap: wrap;*/
/*}*/

.project_detail_block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:25vh;
  width: 60%;
  margin-top: 3rem;
  background-color: white;

}

.project_detail{
  display: flex;
  /*flex-wrap: wrap;*/
  width: 60%;
}

.project_detail div h4{
  margin-left: 1rem;
  font-size: 1rem;
  font-weight = bold;
}

.project_acquired_skills{
  width: 30%;
  overflow: auto;
}

.table_detail_project{
  width: 100%;
  overflow: auto;

}


.table_detail_project li{
  height: 1rem ;
  padding-left: 20px;
  margin: 0 0 4px 0;
  width: 80%;
}



.table_detail_project ul{
  height: 80%;
}

.table_detail_project li span{
  height: 1rem ;
  font-size: 1rem;
  width: 80%;
  font-weight: normal;
}

.project_extra_detail {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 5rem;
  justify-content: space-between;
}


.project_mission_table{
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: flex-end;
}

/*.add_mission_modal{*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: space-between;*/
/*}*/

.add_mission_modal a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

.project_resource_table{
  display: flex;
  width:30%;
  flex-direction: column;


}







/*_______PROJECT LIST */

.project_list_table tr{
  height: 10px;
}

.table_row td{
  height: 2em;
}

/*________________________________________TEAM*/
.main_container_team{
  width: 100%;
  padding-left: 2rem;
  /*display: flex;*/
  /*flex-direction: row;*/

}
.first_box_team{
  display: flex;
  height: 15vh;
}

.team_button_group{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
}

.team_button_group a{
  margin: 0 20px 0 20px ; ;
}

.participant_box{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.participants_list_header_box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team_participant_list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  max-height: 250px;
  font-size: small;
  font-weight: normal;
}


.team_participant_list li {
  border: #4db6ac 1px solid;
  background-color: whitesmoke;
  padding-left: 1rem;
  padding-top: 6px;

}

.add_participants{
  display: flex;
  align-items: flex-end;
  width: 3rem;
  height: 3rem;
}

.add_participants i {
  color: yellow;
}



.collection_participants_team{
  width: 100%;
  max-height: 6rem;
  background-color: white;
}

.team_title_project{
  display: flex;
  size: 3rem;
  justify-content: flex-start;
}

.team_middle_container{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: 2rem;
}


.avatar img{
  width: 20px;
  height: 20px;
}


.team_mission_list{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 10vh;
}

.team_mission_table{
  width: 100%;
}



.collective_mission_participants_modal{
  width: 30%;
  min-height: 40vh;
  max-height:80vh;
  font-size: 2rem;
}

.team_resource_modal{
  width: 30%;
  min-height: 40vh;
  max-height:80vh;
  font-size: 2rem;
}

.comment_section{
  margin: 3rem;
  width: 90%;

}

/*_----------------------------------------------------MISSION*/


.mission_container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}
.mission_description{
  display: flex;
  /*height: 15vh;*/
  /*margin-bottom: 5rem;*/
  /*align-items: center;*/
  /*flex-wrap: wrap;*/
  /*max-height: 15%;*/
  /*width: 90%;*/
  /*overflow: auto;*/

  display: flex;
  flex-direction: column;
  max-width: 70%;
  max-height: 30vh;
  box-shadow: 5px 5px 5px #80cbc4;
  overflow: auto;
}

div p.mission_description_text{
  font-size: 1rem;
  word-wrap: break-word;
  width: 90%;
  max-height: 15%;
}

.mission_extra_detail_box{
  display: flex;
  flex-direction:row;
  width: 100%;
  height: 40%;
  margin-top: 3rem;
}




.mission_resource_list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:25vh;
  width: 80%;
 margin-top: 3rem;
  background-color: white;
}


.mission_resource{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width:40%;
  margin-left: 1rem;
}

.mission_detail_extra{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-right: 1rem;

}

.table_detail_mission{
  display: flex;
  width: 100%;
  margin-top: 0px;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap:wrap;

}

.table_detail_mission ul{
  align-items: flex-end;
}


.mission_detail_box{
  width: 50%;
  overflow: auto;
}

.mission_detail_box li{
  height: 1rem ;
  padding-left: 20px;
  margin: 0 0 4px 0;
  width: 80%;
}



.mission_detail_box ul{
  height: 80%;
}

.mission_detail_box li span{
  height: 1rem ;
  font-size: 1rem;
  width: 80%;
  font-weight: normal;
}


.mission_detail_edit_button{
  display: flex;
  justify-content:flex-end ;
  margin-right:10% ;
}


.mission_resource_add_button{
  display: flex;
  justify-content:flex-end ;
  margin-right:10% ;
}

.table_detail_mission ul li span{
  height:1rem;
}

.detail_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:25vh;
  width: 80%;
  margin-top: 3rem;
  background-color: white;

}
.acquired_skills{

  width: 50%;
  overflow: auto;

}



.answer_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid 2px;
  width: 80%;
  height: 30%;

}
.mission_status{
  width: 30%;
}


.mission_attributed_to{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}



.answer{
  display: flex;
  flex-direction: column;
}

.answer_content{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 30%;
}

.grade_content{
  display: flex;
}



/*_________________________________REsource */

.resource_modal{
  max-height: 60%;
}

.container_resource{
  display: flex;
  flex-direction: column;
  width: 80%;
}


.resource_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;
}
.resource_detail{
  display : flex;
  flex-direction:row;
  margin-top: 3rem;

}

.resource_description_box{
  width: 50%;
}

.resource_description{
  width: 100%;
  font-size: medium;
}

.resource_img_box{
  display: flex;
  width: 50%;
  justify-content: flex-end;
}




/*____________________________________________ANSWER*/




.answer_block{

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80%;
  margin-top: 2rem;
}


.answer_block_template{
  width: 100%;
  height: 40%;
}












/*_____________________GLOBAL*/

.launguage{
  width: 5rem;
}



.section_header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.section_header h3{
  font-size: 2rem;
  font-weight: bold;
}

table{
  background-color: white;
  width: 100%;
}

.title{
  font-weight: bold;
  font-size: x-large;
}

.medium_title{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 30px;
}
.table_detail_project{
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0px;
  color: #0d3349;
}

/*span{*/
/*  font-size: small;*/

/*}*/

list_text{

}

.list_text{
  font-weight:bold;
  font-size: medium;
}


speaker_video_intro{
  display: flex;
  align-items: flex-start;
  background-color: yellow;
}

.video_speaker {
  display: flex;
  align-items: flex-start;
  width: 650px;
}

/*------------------------------------------------------COMMENT -DISCUSSION*/
.discussion_table{
  width: 100%;
}






.discussion_box_modal{
  /*background-color: #0b2e13;*/


}

.modal-content{
  height: 200%;
  width: 90%;
}
.modal.bottom-sheet{
  min-height: 70%;
  max-height: 70%;
  width: 90%;
  margin-left:5rem ;
}


.speech-bubble-left {
  position: relative;
  background: #7000bb;
  border-radius: .4em;
}

.speech-bubble-left:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.969em solid transparent;
  border-right-color: #7000bb;
  border-left: 0;
  border-bottom: 0;
  margin-top: -0.484em;
  margin-left: -0.969em;
}

.speech-bubble-right {
  position: relative;
  background: orange;
  border-radius: .4em;
}

.speech-bubble-right:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #00aabb;
  border-right: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-right: -20px;
}


/*---------------------------------------------DISCUSSION*/


/*.discussion_content{*/
/*  display: flex;*/
/*  background-color: grey;*/
/*}*/

.discussion_detail{
  min-height: 70%;
  max-height: 70%;
}


.dialog_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 70%;
  max-width: 70%;
  background-color: grey;
}


.dialog_box div{
  margin-bottom: 10px;
  width: 60%;


}


.user_comment{
  background-color: green;
  justify-content: center;

}

.profile_comment{
  justify-content: right;

}


.discussion_list{
  width: 100%;
}
