/*This page holds styles for the Main style. Imported in:*/
/* 'base.html'*/

/*

INDEX:
1.  base.html
.  Navbar
.  Project
.  Team
.  Mission
.  Resource
7.  Modal
8. colors
9.
10

*/

/*---------------------------------*/

/*------BASE------*/
body *{
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  color: #000000;
}
/*------REGISTER/SIGN UP------*/
#background{
  /* background-image: url(/images/kiwep/kiwep.png);
  background-repeat: no-repeat; */
  width: 716px;
  height: 614px;
  display: block;
  margin-top: 15px;
  background-color: pink;
}

.aligning{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.fonts{
  text-decoration: none;
  font-weight: bold;
  color:rgb(0, 174, 255);

}

/*------NAVBAR--------- */
#user{
  width: 70px;
  height: 70px;
  background-color: aqua;
  margin-right: 25px;
}

span{
  white-space: nowrap;
  background-color: transparent;
}

#name span{
  font-size: small;
}

/*------SIDENAV----MENU PANEL----*/
/*------7 Modal------*/
/*------COLORS------*/
/*------BUTTONS------*/
/*------PROJECT------*/
/*------PROJECT LIST------*/
/*------TEAM------*/
/*------MISSION------*/
/*------RESOURCE------*/
/*------ANSWER------*/
/*------GLOBAL------*/
/*------COMMENT-DISCUSSION------*/
/*------DISCUSSION------*/
