body {
  font-family:  'Helvetica', 'sans-serif';
  background-color: #8abfa2;
  color: #425940;
}
.margin-block {
  height: 60px;
}
.margin-block1 {
  height: 75px;
}
.modal {
  max-height: 100%;
  max-width: 100%;
}

/* ---------NAVBAR--------- */
.nav-wrapper {
  background-color:#f7ebdc;
  color: #425940;
}


#user-icon{
  font-size: 40px;
  color: #425940;
}
#arrow-icon {
  color: #425940;
}
#logo-color {
  color: #425940;
}
.green-btn {
  background-color:#757575;
  color:#f7ebdc;
}
.green-btn:hover {
  background-color: #9e9e9e ;
}
#a-link {
  color:#425940;
}
#a-link1 {
  color:#425940;
}
/* ------- END NAVBAR-------- */

/* --------sidebar------- */
.collection {
  /* margin-top: 60px; */
  border: none;
}
.link-side-panel {
  color: #f7ebdc;
  font-size: 20px;
}
.btn-side-panel {
  border:none;
  background-color: #8abfa2;
  margin:5px;
}
.no-shadows{
   box-shadow: none!important;
}
.btn-side-panel:hover {
  border-left: 2px solid #425940;
  background-color: #8abfa2;
}
.collection .collection-item:hover {
  border-left: 2px solid #425940;
  background-color: #8abfa2;
}

/* -----mainpanel------ */
#main-bar {
  border-left: 1px solid #f7ebdc;
  padding-left: 20px;
  /* height: 1000px; */
  padding-right: 20px;
  /* margin-top:60px; */

}
.my_table {
  background-color: #f7ebdc;
}
.tables {
  margin-top: 60px;
}

.button_left {
  display:flex;
  justify-content:flex-end;
  margin-right:15px;
  text-align:center;
}
.add_button {
  background-color: #2196f3;
  color:#f7ebdc;

}
.add_button:hover {
  background-color: #2196f3;
  color:#f7ebdc;
}
.table_headers {
  font-size: large;
  text-align: center;
  padding-bottom: 20px;
}
.link-table {
  color:#425940;
  font-size: large;
}
.edit_btn {
  border: 1px solid #757575;
  background-color: #fffefc;
  color:#757575;
  padding-right: 10px;
  padding-left: 10px;

}
.edit_btn:hover {
  border: 1px solid #757575;
  background-color: #fffefc;
  color:#757575;
}
.secondary_button {
  background-color: #fdd835;
  color:#425940;
  text-align: center;
}
.secondary_button:hover {
  background-color: #fdd835;
  color:#425940;
  text-align: center;
}
/* ------------CREATE TEAM---------- */
.create_team {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width:600px;
}

/* -----------PROJECT LIST--------- */
.nav_project {
  /* margin-top: 75px; */
  margin-left:15px;
  background-color: #8abfa2;
  border:none;
}
#project_headers {
  color:#f7ebdc;
}
.nav_color {
  background-color: #8abfa2;
}
.card-header {
  color:#f7ebdc;
  padding-bottom: 15px;
}

/* ------------PROJECT DETAIL------------- */
.edit-project {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
#button-edit-project {
  display:flex;
  justify-content:flex-end;
  text-align:center;
}
#card_skills{
  background-color:#f7ebdc;
}
.card-content {
  background-color:#f7ebdc;
}
.header_mission {
  text-align: center;
}
