body {
  font-family: 'RocknRoll One', sans-serif;
  background-color: #f6f6f6;
  color: #7d7d83;
}

<<<<<<< HEAD

a {
  font-size: 20px;
}
 a:visited {
  color: black;

}
 a:hover {
  color: #fffefc;


  /* background-color: #eeeeef;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;  */

=======
/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index:100;
  padding: 70px 0 0 10px;
} */
a {
  /* font-size: 20px; */
}
 a:visited {
  color: #fffefc;
  text-decoration: none;
}
.btn {
  border: none;
  margin:5px;
  background-image: linear-gradient(to left, #abf5ce, #198754);
  border-radius: 10px;
}
 a:hover {
  color: #fffefc;
}
#title_kiwep {
  text-align: center;
  color: #fffefc;
>>>>>>> frontend
}

button {
  border: none;
<<<<<<< HEAD
  background-color: #f7d493;
  border-radius: 10px;
  margin:5px;

}
button:hover {
  background-color: #eca255;

}
 #center_nav {
  margin-left: 450px;
}
=======
  margin:5px;
  background-image: linear-gradient(to left, #abf5ce, #198754);
  border-radius: 10px;
}
button:hover {
  background-image: linear-gradient(to right, #9aedc1, #198754);
  border-radius: 10px;
}
.btn:hover {
  background-image: linear-gradient(to right, #9aedc1, #198754);
  border-radius: 10px;
}
#a_link{
  color:#fffefc;
}
 /* #center_nav {
  margin-left: 450px;
} */
>>>>>>> frontend
#footer_rights {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 13px;
}

#side_panel {
<<<<<<< HEAD
  background-color:#425940;
  color:#f8fafa;
  border:15px solid white;
  height: 900px;

=======
  background-image: linear-gradient(to left, #abf5ce, #198754);
  border-radius: 10px;
  color:#f8fafa;
  height: 900px;
>>>>>>> frontend
}
#main_panel{
  background:#f8fafa;
  color: #7d7d83;
<<<<<<< HEAD
  border:15px solid white;
  border-left: 2px solid #7d7d83;
  height: 900px;
}

=======
  border:1px solid (0,0,0,.125);
  border-radius: 10px;
  height: 900px;
}
main .card {
  margin-bottom: 20px;
}
>>>>>>> frontend

.footer_social{
  padding: 15px;
  color: #7d7d83;
}
i {
  color: 425940;
}
<<<<<<< HEAD
.signup_in {
=======
/* .signup_in {
>>>>>>> frontend
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .19);
  padding: 50px 30px;
  border-radius: 10px;
  min-width: 800px;
  min-height: 500px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f5f7;
<<<<<<< HEAD
}
=======
} */
>>>>>>> frontend

.title_signin {
  text-align: center;
  margin-top: 15px;
}

ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}
.color_example {
  background-color: #df5f46;
  height: 870px;
}
.color_example1 {
  background-color: #eca255;
  height: 870px;
}


.color_example5 {
  background-color: white;
  height: 870px;
}
.color_example4 {
  background-color: #425940;
  height: 870px;
}
<<<<<<< HEAD
=======
.input-group{
  margin-right: -70px;
}
.launguage {
  margin-right: 10px;
}
>>>>>>> frontend
Red : df5f46
Orange : eca255
Yellow: f7d493
Light Green  : 9fce9c
Green: 425940
