.team_detail_container{
    display: flex;
    flex-direction: column;
    justify-content:start;
    width: 100% ;
    min-height: 100vh;
    padding: 0rem 5rem;
}

.team_detail_header{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom:2rem;
    width: 95%;
    justify-content: flex-end;
    justify-content: space-between;
}

.team_project_detail{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.team_project_detail > h2{
    margin-left: 75px;
}

/* .team_detail_title{
    width: 50%;
    justify-content: flex-start;
} */

.speaker_action_btn_group{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-end;

}

.speaker_action_btn_group > button{
    margin-left: 20px;
}

.team_navigation_extra_button {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-content: center;
    margin: auto;
}

.project_link_extra{
    border-bottom: solid 2px red;
}


.team_detail_main_content{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    width: 100%;
    /*min-height: 90%;*/
    flex-wrap: wrap;
    margin-top: 2rem;

    border: #1c7430 12px solid;
}

.team_mission_list{
    display: flex;
    flex-direction: row;
    width: 60%;

    min-height: 90%;
    max-height: 80vh;
    flex-wrap: wrap;
    margin-top: 2rem;
    background-color: yellow;
    border: 3px deeppink solid ;

}

.team_mission_detail{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 250px;
    margin: 2rem;
    border: 2px solid black;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

.team_extra_information{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    min-width: 30%;
    min-height: 80vh;
    margin-top: 2rem;

}

.team_participant_container{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 30%;
    max-height: 50%;
    padding: 1rem;
    border: 3px solid rgb(233, 233, 233);
    margin-left: 110px;
}
.participants_title{
    font-size: larger;
    font-weight: bolder;
    color: grey;
}

.participants_team_header{
    display: flex;
    flex-direction: row;
}

.add_person{
    margin-left: 10px;
}
.participants_list_icon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
    width: 80%;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: black 1px solid;
}


.team_discussion_container{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    min-height: 30%;
    border: 2px solid teal;
    margin-top: 4rem;
    margin-left: 110px;
}

.discussion_list{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.add_mission{
    margin-left: 75px;

}

/*_______STUDENT TEAM DETAIL STYLE_____________________*/

.team_project_status{
    background-color: yellow;
}



/*___________________________STUDENT LIST MISSION*/
.student_team_list_container{
    display: flex;
    flex-direction: column;
}

.student_mission_table{

    min-width: 80%;
    max-width: 80%;
    justify-content: center;
    margin: auto;

}

.btn_action{
    display: flex;
    background-color: wheat;
    width: 8rem ;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

/* RESPONSIVE */
@media (max-width: 670px){

    .team_detail_header{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        margin-bottom:2rem;
        width: 60%;
        justify-content: flex-end;
        justify-content: space-between;

    }

    .team_project_detail{
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
    }

    .team_project_detail > h2{
        margin-left: 0px;
    }

    .speaker_action_btn_group{
        margin-left: 100px;
    }

    .speaker_action_btn_group > button{
        margin-left: 8px;

    }

    .sm-btn{
        height: 35px;
    }

    .team_navigation_extra_button {
        position: relative;
        right: 70px;
        margin-top: 1rem;
    }


    .add_mission{
        margin-left: 5px;
    }

    .team_participant_container{
        width: 80%;
        position: relative;
        right: 180px;

    }

    .team_discussion_container{
        max-width: 80%;
        position: relative;
        bottom: 232px;
        left: 135px;
        margin-left: 0;
    }

    .team_detail_main_content{
        margin-top: 1rem;

    }
}