{% load mytags %}

{% load static %}
{% load i18n %}
{% load materializecss %}


<div class="row">
    <div class="col s12 m6 l9">
        <div class="card">

            <span class="card-title">{% trans 'add_answer'%} to  {{object}}</span>

            <div class="card-content">
                <form method="POST" action = "{% url 'answer_add' %}?next={{ request.path }} " enctype="multipart/form-data" >
                    {% csrf_token %}
                    {{ object.answer_form|materializecss }}

                    <button class="btn waves-effect waves-light secondary_button" type="submit" name="action">{% trans 'save_answer' %}
                    </button>
                </form>

            </div>
            <ul class="collapsible popout">




            </ul>

        </div>
    </div>
</div>

