{% load mytags %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}




{% if user.is_speaker %}
    {% if object.individualmission %}
        {% include 'answer/speaker_mission_answer.html' with mission=object %}

    {% elif object.collectivemission %}

        {% include 'answer/speaker_collective_answers.html' with mission=object %}

    {% else%}

        {% include 'answer/speaker_collective_i_answers.html' with mission=object %}
    {% endif %}

{% elif user.is_student %}
    {% if object.individualmission %}

        {% include 'answer/student_mission_answer.html' with mission=object %}

    {% elif object.collectivemission %}

        {% include 'answer/student_collective_answers.html' with mission=object %}


    {% else  %}
        {% include 'answer/student_collective_i_answers.html' with mission=object %}
    {% endif %}



{% endif %}
