{% load i18n %}

<div class ="answer_status">
    <div class="answer">


        {% if not object.answer.all.exists %}
            <h3 class="medium_title answer_status_lable"> {% trans 'no_asnwer_yet' %}</h3>

        {% else %}
              {% with answer=object.answer.all.last %}
            {% if answer.response_comment or answer.response_file %}
                <li>     {% trans 'file_lable' %} :{{answer.response_file}}</li>
                <li>{% trans 'text_lable' %}: {{answer.response_comment}}</li>
                {% trans 'answer_by' %} {{ object.answer.all.first.content_object.attributed_to.user.get_full_name }}
                <div class="answer_content">
                    <form method="POST" action="{% url 'answer_edit_status' answer.id %}">
                        {% csrf_token %}

                        {{ answer.status_form }}
                    </form>

                    {% if answer.status == 'a' %}

                        {% if not answer.grade %}
                            <div class="grade_content">
                            <form method="POST" action="{% url 'answer_grade_add' answer.id %}">
                                {% csrf_token %}

                                {{ answer.grade_form }}
                            </form>
                        {% else %}
                            <h3> {% trans 'grade_for_mission ' %}: {{ answer.grade }}</h3>
                        {% endif %}
                    </div>
                    {% else %}

                        {% trans 'mission_wasnt_accepted_yet' %}
                    {% endif %}
                </div>
            {% endif %}
            {% endwith %}

        {% endif %}


        {#        {% if user.profile in object.project.team.participants.all or user.is_speaker and  request.user.profile == object.project_set.team.manager%}#}
        {#        {% if answer.status %}#}
        {#            <lable> {% trans 'answer_status' %}: {{ answer.status }} </lable>#}
        {#        {% elif answer.status == 'a' %}#}
        {#            {% if not answer.grade %}#}
        {#                <lable>{% trans 'mission_not_graded' %}</lable>#}
        {#            {% else %}#}
        {#                <lable>{% trans 'grade_for_mission ' %}: {{ answer.grade }}</lable>#}
        {#            {% endif %}#}
        {##}
        {#        {% else %}#}
        {##}
        {#            <lable> {% trans 'mission_wasnt_accepted_yet' %}</lable>#}
        {#        {% endif %}#}
        {#    </div>#}
        {##}
        {#    {% endwith %}#}
        {##}
        {##}
        {##}
        {##}
        {##}
        {#    {% endif %}#}
        {#    {% endif %}#}

    </div>
</div>
