{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'backend/css/speaker_answer.css' %}" rel="stylesheet" >
{% endblock css %}


<div class="answer">
    <div class="mission_answer_status_label">
            {% if object.attributed_to %}
                {% trans 'no_answer_yet' %}
            {% endif %}
        </div>
    {% if not object.answer.all.exists %}
        <div class="mission_response_type_label">
            <h3 class="medium_title"> {% trans 'answer_type' %}</h3>
            <h3>{{ object.response_type }}</h3>

        </div>

    {% else %}
        {% with answer=object.answer.all.last %}
            {% if answer.response_comment or answer.response_file %}
                <li>     {% trans 'file_lable' %} :{{answer.response_file}}</li>
                <li>{% trans 'text_lable' %}: {{answer.response_comment}}</li>
                {% trans 'answer_by' %} {{ object.answer.all.first.content_object.attributed_to.user.get_full_name }}
                <div class="answer_content">
                    <form method="POST" action="{% url 'answer_edit_status' answer.id %}">
                        {% csrf_token %}

                        {{ answer.status_form }}
                    </form>

                    {% if answer.status == 'a' %}

                        {% if not answer.grade %}
                            <div class="grade_content">
                            <form method="POST" action="{% url 'answer_grade_add' answer.id %}">
                                {% csrf_token %}

                                {{ answer.grade_form }}
                            </form>
                        {% else %}
                            <h3> {% trans 'grade_for_mission ' %}: {{ answer.grade }}</h3>
                        {% endif %}
                    </div>
                    {% else %}

                        {% trans 'mission_wasnt_accepted_yet' %}
                    {% endif %}
                </div>
            {% endif %}
        {% endwith %}

    {% endif %}


    {#        {% if user.profile in object.project.team.participants.all or user.is_speaker and  request.user.profile == object.project_set.team.manager%}#}
    {#        {% if answer.status %}#}
    {#            <label> {% trans 'answer_status' %}: {{ answer.status }} </label>#}
    {#        {% elif answer.status == 'a' %}#}
    {#            {% if not answer.grade %}#}
    {#                <label>{% trans 'mission_not_graded' %}</label>#}
    {#            {% else %}#}
    {#                <label>{% trans 'grade_for_mission ' %}: {{ answer.grade }}</label>#}
    {#            {% endif %}#}
    {##}
    {#        {% else %}#}
    {##}
    {#            <label> {% trans 'mission_wasnt_accepted_yet' %}</label>#}
    {#        {% endif %}#}
    {#    </div>#}
    {##}
    {#    {% endwith %}#}
    {##}
    {##}
    {##}
    {##}
    {##}
    {#    {% endif %}#}
    {#    {% endif %}#}

</div>
