{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'backend/css/speaker_answer.css' %}" rel="stylesheet" >
    <link href="{% static 'backend/css/discussion.css' %}" rel="stylesheet" >
{% endblock css %}


<div class="answer">
    <div class="mission_answer_status_label">
        {% if object.attributed_to %}
            {% trans 'space' %}
        {% endif %}
    </div>
    {% if not object.answer.all.exists %}
        <div class="mission_response_type_label">
            <h3 class="medium_title"> {% trans 'answer_type' %}</h3>
            <h3>{{ object.response_type }}</h3>

        </div>

    {% else %}
        {% with answer=object.answer.all.last %}
            {% if answer.response_comment or answer.response_file %}
                <ul class="answer_file_label">
                    <lable>{% trans 'file' %} :</lable>
                    {% if not answer.response_file %}
                        <p>{% trans 'no_file_was_submited' %}</p>
                    {% else %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary see_file_modal_button" data-bs-toggle="modal" data-bs-target="#see_file_modal">
                            {% trans 'see_file' %} </button>


                    {% endif %}
                </ul>

                <ul>{% trans 'text_lable' %}:{{answer.response_comment}}</ul>
                {% trans 'answer_by' %} {{ object.answer.all.first.content_object.attributed_to.user.get_full_name }}
                <div class="answer_content">
                    <form method="POST" action="{% url 'answer_edit_status' answer.id %}">
                        {% csrf_token %}

                        {{ answer.status_form }}
                    </form>

                    {% if answer.status == 'a' %}

                        {% if not answer.grade %}
                            <div class="grade_content">
                            <form method="POST" action="{% url 'answer_grade_add' answer.id %}">
                                {% csrf_token %}

                                {{ answer.grade_form }}
                            </form>
                        {% else %}
                            <h3> {% trans 'grade_for_mission ' %}: {{ answer.grade }}</h3>
                        {% endif %}
                    </div>
                    {% else %}

                        {% trans 'mission_wasnt_accepted_yet' %}
                    {% endif %}
                </div>
            {% endif %}
        {% endwith %}

    {% endif %}


    {#        {% if user.profile in object.project.team.participants.all or user.is_speaker and  request.user.profile == object.project_set.team.manager%}#}
    {#        {% if answer.status %}#}
    {#            <label> {% trans 'answer_status' %}: {{ answer.status }} </label>#}
    {#        {% elif answer.status == 'a' %}#}
    {#            {% if not answer.grade %}#}
    {#                <label>{% trans 'mission_not_graded' %}</label>#}
    {#            {% else %}#}
    {#                <label>{% trans 'grade_for_mission ' %}: {{ answer.grade }}</label>#}
    {#            {% endif %}#}
    {##}
    {#        {% else %}#}
    {##}
    {#            <label> {% trans 'mission_wasnt_accepted_yet' %}</label>#}
    {#        {% endif %}#}
    {#    </div>#}
    {##}
    {#    {% endwith %}#}
    {##}
    {##}
    {##}
    {##}
    {##}
    {#    {% endif %}#}
    {#    {% endif %}#}

</div>



<!-- Modal -->
{% with answer=object.answer.last %}
<div class="modal fade" id="see_file_modal" tabindex="-1" aria-labelledby="see_file_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog_view_document">
    <div class="modal-content view_document_modal_content">
      <div class="modal-header">
        <h5 class="modal-title" id="see_file_modalLabel">{% trans 'response_file_view' %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <img src="{{ answer.response_file.url }}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'close' %}</button>

      </div>
    </div>
  </div>
</div>
{% endwith %}