{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link href="{% static 'backend/css/answer.css' %}" rel="stylesheet" >

{% endblock css %}



{% if user.profile == object.attributed_to %}

    <div class="answer_list_box">

    {% if object.answer.all.exists %}

        {% with answer=object.answer.all.last %}


            <div><label>{% trans 'your_last_answer' %}</label><br>
                {% trans 'answer' %} {{ answer.response_comment }}<br>{{ answer.response_file }}
                <br>
                <label style="font-weight: bold">{% trans 'status' %}: {{ object.answer.get_status_display }}</label>

            </div>


            {% if answer.status %}
                <div class="answer_status_label">
                    <p> {% trans 'answer_status' %}: {{ answer.get_status_display }} </p>
                    {% if answer.grade %}
                        {% trans 'and_graded :' %}
                        {{ answer.grade }}
                        </div>

                    {% elif answer.status == 'a' %}
                        <div class="answer_status_grad_label">

                            {% if not answer.grade %}
                                <p>{% trans 'mission_not_graded' %}</p>
                            {% else %}
                                {% trans 'grade_for_mission ' %}: {{ answer.grade }}
                            {% endif %}

                        </div>

                    {% else %}
                        <div class="unaccepted_mission_label">
                            <p> {% trans 'mission_wasnt_accepted_yet' %}</p>
                        </div>
                    {% endif %}

            {% endif %}
        {% endwith %}

    {% else %}
        <div>
            <h3 class="medium_title answer_status_lable">  {% trans 'add_answer' %}</h3>
            <form method="POST" action = "{% url 'answer_add' %}?next={{ request.path }} " enctype="multipart/form-data" >
                {% csrf_token %}

                {{ object.answer_form|crispy }}


                <button class="btn waves-effect waves-light secondary_button" type="submit" name="action">{% trans 'save_answer' %}
                </button>
            </form>

        </div>

    {% endif %}
{% endif %}




</li>
{#            {% with answers=object.answer.all %}#}
{#                {% for answer in answers %}#}
{#                    <li class="#">#}
{#                    <div class="collapsible-header answer_line">#}
{#                   #}
{#                    <label>{% trans 'your_past_answer' %}</label>#}
{#                    {% trans 'status' %}: {{ object.answer.get_status_display }}#}
{##}
{#                    {% if answer.grade %}#}
{#                        {% trans 'and_graded :' %}#}
{#                        {{ answer.grade }}#}
{##}
{#                        {% if answer.status %}#}
{#                            <p> {% trans 'answer_status' %}: {{ answer.status }} </p>#}
{#                        {% elif answer.status == 'a' %}#}
{#                            {% if not answer.grade %}#}
{##}
{#                                <p>{% trans 'mission_not_graded' %}</p>#}
{#                            {% else %}#}
{#                                {% trans 'grade_for_mission ' %}: {{ answer.grade }}#}
{#                            {% endif %}#}
{##}
{#                        {% else %}#}
{##}
{#                            <p> {% trans 'mission_wasnt_accepted_yet' %}</p>#}
{#                        {% endif %}#}
{##}
{##}
{#                    {% endif %}#}
{##}
{#                {% endfor %}#}
{#            {% endwith %}#}

</div>

<div class="collapsible-body"><span>{{answer.response_comment}}</span>
    {##}


    {#                                    {% if user.is_speaker %}#}
    {#                                        <form method="POST" action = "{% url 'answer_edit_status' answer.id %}?next={{ request.path }} " enctype="multipart/form-data" >#}
    {#                                            {% csrf_token %}#}
    {##}
    {#                                            {{ answer.status_form|materializecss }}#}
    {##}
    {#                                            <button class="btn waves-effect waves-light secondary_button" type="submit" name="action">{% trans 'save_answer' %}#}
    {#                                            </button>#}
    {#                                        </form>#}
    {#                                    {% endif %}#}

</div>

</li>


</div>

{##}
{#                            {% with answer=object.answer.last %}#}
{##}
{#                                <div class="answer_content" style="background-color: yellow">#}
{#                                    <h3>{% trans 'add_new_answer' %}</h3>#}
{#                                    <form method="POST" action="{% url 'answer_edit_status' answer.id %}">#}
{#                                        {% csrf_token %}#}
{##}
{##}
{#                                        {{ answer.status_form }}#}
{#                                        <button type="submit">{% trans 'send_answer' %}</button>#}
{#                                    </form>#}
{##}
{#                                    </form>#}
{##}
{##}
{#                                </div>#}
{#                                </div>#}
{#                            {% endwith %}#}