{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link href="{% static 'backend/css/student_answer.css' %}" rel="stylesheet" >
    <link href="{% static 'backend/css/styles.css' %}" rel="stylesheet" >

{% endblock css %}



<div class="collective_answer_container">

    {% for mission in mission.individualcollectivemission_set.all %}
        {% if request.user.profile == mission.attributed_to %}
            <div class="answer_box_collective_individual">

            {% if mission.answer.exists %}

                {% for mission in object.individualcollectivemission_set.all %}
                    <a class="btn secondary_button" href="{% url 'individual_collective_mission_detail' mission.id %}">  <h3> {{ mission.attributed_to.name }}</h3></a>
                {% endfor %}

            {% else %}
                <a class="btn secondary_button" href="{% url 'individual_collective_mission_detail' mission.id %}">{{ mission.attributed_to}}</a>
            {% endif %}
            </div>
        {% else %}

            {% for participant in object.attributed_to.all %}

                <button type="button" class="btn secondary_button" data-bs-toggle="modal" data-bs-target="#see_{{ object.id }}_student_answers">
                    <h4>{% trans 'answer_of' %} {{ participant.name }}</h4>
                </button>
            {% endfor %}
        {% endif %}

    </div>




    {% endfor %}
<!-- Modal STUDENT COLLECTIVE INDIVIDUAL ANSWER-->
{#    {% with mission=mission %}#}
<div class="modal fade" id="see_{{ object.id }}_student_answers" tabindex="-1" aria-labelledby="see_other_student_answersLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="see_other_student_answersLabel">{% trans 'see_other_student_answers' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="individual_collective_answer">
                    {{ mission.id }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{#    {% endwith %}#}