{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link href="{% static 'backend/css/student_answer.css' %}" rel="stylesheet" >

{% endblock css %}



{% if user.profile == object.attributed_to %}

    <div class="answer_box">

        {% if object.answer.all.exists %}

            {% with answer=object.answer.all.last %}
                <label class="last_answer_label">{% trans 'your_last_answer' %}</label>
                <div class="last_answer_container">
                    <div>
                        {% if answer.response_file %}
                            <img src="{% static 'backend/images/kiwep/file.png' %}">

                        {% else %}
                            <p class="file_place_holder">{% trans  'no_file_yet' %}</p>

                        {% endif %}
                    </div>

                    <p class="comment_text_last_answer">{{ answer.response_comment }}</p>



                </div>


                {% if answer.status %}
                    <div class="answer_status_view_student">


                    <p> {% trans 'answer_status' %}: {{ answer.get_status_display }} </p>
                    {% if answer.grade %}
                        <p>  {% trans 'and_graded :' %}
                            {{ answer.grade }}</p>


                    {% elif answer.status == 'a' %}
                        {% if not answer.grade %}

                            <label>{% trans 'mission_not_graded' %}</label>
                        {% else %}
                            <label> {% trans 'grade_for_mission ' %}: {{ answer.grade }}</label>
                        {% endif %}

                    {% else %}

                        <p> {% trans 'mission_wasnt_accepted_yet' %}</p>
                    {% endif %}


                {% endif %}
            {% endwith %}

        </div>


            <div class=""><span>{{answer.response_comment}}</span>

        {% else %}

            <label> {% trans 'no_answered_yet' %}</label>
            <form method="POST" action = "{% url 'create_answer' %}?next={{ request.path }} " enctype="multipart/form-data" >
                {% csrf_token %}


                {{ object.answer_form|crispy }}


                <button class="btn" type="submit" name="action">{% trans 'save_answer' %}
                </button>
            </form>
        {% endif %}
        </div>
    </div>


{% endif %}

