{% load mytags %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block css %}
    <link href="{% static 'backend/css/student_mission_styles.css' %}" rel="stylesheet">
    <link href="{% static 'backend/css/buttons.css' %}" rel="stylesheet">
{% endblock %}
{% get_collective_id object as mission %}


<div class="mission_detail_container">

    <div class="mission_detail_header">
        <div class="btn_group_navigation">
            {% if mission.project.team %}
                <a class="btn neutral_action" href="{% url 'team_detail' mission.project.team.id %}"><h5>{% trans 'back_to_project' %}</h5></a>
                {% if individualcollectivemission %}
                <a class="btn neutral_action" href="{% url 'collective_mission_detail' mission.id %}"><h5>{% trans 'back_to_collective' %}</h5></a>
                    {% endif %}
            {% endif %}

        </div>
        <div  class="mission_name_title">

            <h2> {{ mission.name.title }}</h2>
        </div>
    </div>

    <div class="mission_detail_main_panel">

        <div class="student_mission_detail_main_content">

            <div class="mission_detail_right_panel">
                <div class="mission_detail_info">
                    <div class="animation_div">
                        <img src="{% static 'backend/images/kiwep/mission_default.png' %}" style="--img-ratio: 1" alt="this slowpoke moves">
                    </div>
                    <div class="mission_detail_details">
                        <div>{{object.description|safe}}</div>
                    </div>
                </div>

                <div class="student_mission_status_box">
                    <div class="mission_attribution_detail">
                        {% if user.profile in object.project.team.participants.all or user.profile in object.parent_mission.attributed_to.all %}
                            {#    View for attributed to:  Student if Individual Mission#}
                            {% if individualmission and not object.attributed_to  %}
                                <div class="mission_attributed_to_container">
                                    <a class="btn primary_button claim_mission" href="{%  url 'claim_mission' object.id %}"><h5>{% trans 'claim_mission' %}</h5></a>
                                </div>
                            {% elif individualmission and object.attributed_to %}
                                <div class="mission_attributed_to_container">

                                    {% if object.attributed_to == request.user.profile %}
                                        <h4 class="banner_attributed_to">{% trans 'mission_is_attributed_to' %}
                                            {{ object.attributed_to.name }}</h4>
                                        <a class="btn neutral_action" href="{%  url 'unclaim_mission' object.id %}">{% trans 'unclaim_mission' %}</a>
                                    {% else %}
                                        <h2>{% trans 'this_missions_belongs_to:' %}
                                            {{ object.attributed_to.name }}</h2>

                                    {% endif %}
                                </div>

                                {#                        View for student if Collectiv Mission choose if it-s collective or individual collective #}
                            {% elif collectivemission or object.parent_mission %}
                                <div class="mission_attributed_to_container_collective">
                                    {% if request.user.profile not in object.attributed_to.all or request.user.profile not in object.parent_mission.attributed_to.all %}
                                        <a class="btn primary_button claim_mission" href="{% url 'join_collective_mission_detail' object.id %}">{% trans 'join_collective_mission' %}</a>
                                        <div class="mission_attributed_to_participants">
                                            {#                                            {% for participant in object.attributed_to.all %}#}
                                            {#                                                <h4>   {{ participant }}</h4>#}
                                            {#                                            {% endfor %}#}
                                        </div>
                                    {% elif object.attributed_to %}
                                        {% if user.profile in object.attributed_to.all or request.user.profile in object.parent_mission.attributed_to.all %}
                                            {% if object %}
                                                <div class="mission_attributed_to_container">
                                                    {% if individualcollectivemission %}
                                                        <a class="btn neutral_action" href="{%  url 'leave_collective_mission_detail' mission.id %}">{% trans 'leave_mission' %}</a>
                                                    {% else %}
                                                        <a class="btn neutral_action" href="{%  url 'leave_collective_mission_detail' mission.id %}">{% trans 'leave_mission' %}</a>
                                                    {% endif %}
                                                </div>

                                                <div class="mission_attributed_to_participants">
                                                    <h4 class="small_title banner_attributed_to">{% trans 'participants_of_the_mission' %}</h4>
                                                    {% if individualcollectivemission %}
                                                        {% for participant in object.parent_mission.attributed_to.all %}
                                                            <h5>   {{ participant }}</h5>
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for participant in object.attributed_to.all %}
                                                            <h5>   {{ participant }}</h5>
                                                        {% endfor %}
                                                    {% endif %}


                                                </div>
                                            {% endif %}
                                        {% else %}
                                            {% trans 'this_missions_belongs_to:' %}
                                            {{ object.attributed_to }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>



            <div class="mission_related_elements_details">

                <div class="mission_learning_info">
                    <div class="mission_detail_info">
                        {% if individualcollectivemission %}
                            <h4>{{ object.parent_mission.get_mission_type_display }}</h4>
                        {% else %}

                            <h4>{{ object.get_mission_type_display }}</h4>
                        {% endif %}
                    </div>
                    <div class="mission_detail_info">
                        {% if individualcollectivemission %}
                            <h4>{% trans 'time_to_complete' %}
                                {{ object.parent_mission.project.time_to_complete }} {% trans 'days' %}</h4>
                        {% else %}

                            <h4>{% trans 'time_to_complete' %}
                                {{object.project.time_to_complete}} {% trans 'days' %}</h4>
                        {% endif %}
                    </div>

                </div>
                <div class="resource_container">

                    <div class="header_resource_container">
                        <h2>{% trans 'resource_list' %}</h2>

                    </div>

                    <div class="mission_detail_resources_list_box">
                        {% if object.resource_set.exists %}
                            {% for resource in object.resource_set.all %}
                                <div class="resource_item_detail">
                                    <div class="resource_cover">
                                        <img class="image_resource" src="{{ resource.get_resourceImg_or_default }}">
                                    </div>
                                    <a class="resource_name" href="{% url 'resource_detail' resource.id %}"><h5>{{ resource.name }}</h5></a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h4>{% trans 'no_resources_yet' %}</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="student_mission_action_panel">

        {% if user.profile in object.project.team.participants.all or  user.profile in object.parent_mission.attributed_to.all %}

            {% if user.profile in object.parent_mission.attributed_to.all %}
                <div class="individual_collective_mission_answer_container">
                    {% include "answer/answer.html"  with object=object %}
                </div>
                {##}
            {% else %}
                <div class="answer_mission_container">
                    {% include "answer/answer.html"  with object=object %}
                </div>

            {% endif %}
        {% endif %}
        <div class="discussion_container_mission">
            {% include 'comments/discussion.html' %}
        </div>
    </div>
</div>



