{% load mytags %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block css %}
    <link href="{% static 'backend/css/speaker_mission_styles.css' %}" rel="stylesheet">
{% endblock %}


<div class="mission_detail_container">

    <div class="mission_detail_header">
        <button type="button" class="btn btn-light back_btn"><a href="{% url 'project_detail' object.project.id %}">{% trans 'back_to_project_button' %}</a></button>
        <button type="button" class="btn btn-light back_btn"><a href="{% url 'team_detail' object.project.team.id %}">{% trans 'back_to_team' %}</a></button>

        <h3 class=""> {{ object.name }}</h3>


        <div class="speaker_action_btn_group">
            {% if user.is_speaker %}
                <button type="button" class="btn btn-secondary btn-sm"><a class="btn edit_button" href="{{ object.get_update_url }}">{% trans 'edit' %}</a></button>
                <!-- <a class="btn edit_button" href="{{ object.get_update_url }}">{% trans 'edit' %}</a> -->
            {% endif %}

        </div>

    </div>

    <div class="mission_detail_main_panel">
        <div class="mission_detail_main_content">

            <div class="mission_detail_panel">
                <div class="animation_div">
                    <img class="image_animation" src="{% static 'backend/images/content/mission_default.jpeg' %}" alt="this slowpoke moves">
                </div>
                <div class="mission_detail_details">

                    <p class="mission_detail_description">{{object.description}}</p>


                </div>

            </div>


            <div class="mission_related_elements_content">

                <div class="mission_learning_info">
                    <label>{{ object.get_mission_type_display }}</label>
                    <p class="detail_time_to_complete">
                        <span>{% trans 'time_to_complete' %}</span>{{object.time_to_complete}} {% trans 'days' %}
                    </p>
                    <div class="skills_mission">
                        <div class="skills_mission_header">
                            <h5 class="small_title">{% trans 'acquired_skills' %}</h5>

                            <button class="btn plus_button"></button>

                        </div>
                        <div class="skills_name">
                            {% for skill in object.acquired_skill.all %}
                                <ul class="">{{skill.name}},  </ul>

                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="resource_container">

                    <div class="header_resource_container">
                        <h3>{% trans 'resource_list' %}</h3>

                        <!-- Button trigger modal add Resource -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_resource_modal">
                            {% trans "add_resource" %}
                        </button>

                    </div>
                    {% if object.resource_set.exists %}

                        <div class="mission_detail_resources_list_box">
                            {% for resource in object.resource_set.all %}
                                <div class="resource_item_detail">

                                    <div class="resource_cover">

                                        <img class="image_resource" src="{{ resource.get_resourceImg_or_default }}">

                                    </div>

                                    <div class="missions_detail_resource">
                                        <div class="resource_name">
                                            <a href="{% url 'resource_detail' resource.id %}">{{ resource.name }}</a>

                                        </div>
                                        <div class="resource_detail_button_control">
                                            <a href="{% url 'update_resource' resource.id %}"><img src="{% static 'backend/images/kiwep/edit.png' %}" alt="edit"> </a>
                                            <a href="{% url 'delete_resource' resource.id %}"> <img src="{% static 'backend/images/kiwep/trash.png' %}" alt="delete"> </a>

                                        </div>
                                    </div>
                                </div>


                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

            </div>

        </div>
        <div class="speaker_mission_action_panel">

            <div class="mission_status_box">
                <div class="mission_attribution_detail">
                    {% if individualmission  %}

                        {% if not object.attributed_to  %}
                            <h3 class="medium_title label_mission_status"> {% trans 'mission_unclaimed' %}</h3>

                        {% else %}
                            <div class="mission_attributed_to_label">
                                <h2>{% trans 'mission_is_attributed_to' %}: {{ object.attributed_to }}</h2>
                            </div>
                        {% endif %}

                    {% elif collectivemission  %}
                        {% if not object.attributed_to.all.exists %}
                            {% trans 'no_one_joined_yet' %}
                            {% if user.profile ==  object.team.manager %}

                                <a href="{% url 'assign_collective_mission_detail' object.id %}">{% trans 'assign_mission' %}</a>
                            {% endif %}

                        {% else %}
                            {% for participant in object.attributed_to.all %}
                                <li> {{ participant }}</li>

                            {% endfor %}
                        {% endif %}

                    {% endif %}
                </div>

            </div>


        <div class="speaker_mission_related_elements_content">

        {% if user.profile == object.project.team.manager %}

        <div class="mission_detail_answer_content">

            {% include "answer/answer.html"  with object=object %}

        </div>
        <div class="discussion_container">
            {% include 'comments/discussion.html' %}
        </div>


    {% endif %}
    </div>
  </div>

</div>





</div>





<!-- Modal ADD RESOURCES-->



<div class="modal fade" id="add_resource_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="add_resource" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <nav>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">

                        <button class="nav-link active" id="nav-create-tab" data-bs-toggle="tab" data-bs-target="#nav-create" type="button" role="tab" aria-controls="nav-chose" aria-selected="true">{%  trans 'create_resource' %}</button>

                        <button class="nav-link active" id="nav-choose-tab" data-bs-toggle="tab" data-bs-target="#nav-chose" type="button" role="tab" aria-controls="nav-chose" aria-selected="true">{%  trans 'chose_resource' %}</button>

                    </ul>
                </nav>
            </div>
            <div class="modal-body">

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">
                        <form method="post" action="{% url 'mission_create_resource' object.id %}">
                            {% csrf_token %}
                            {{ resources_form|crispy }}
                            <button type="submit">{% trans 'save' %}</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-chose" role="tabpanel" aria-labelledby="nav-chose-tab">

                        {% for resource in object.ressource_set.all %}
                            <div class="duplicate_table">

                                <h4 class="small_title">{{ project.name }}</h4>
                                <a href="{% url 'chose_project_detail' project.id team.id %}">{% trans 'select' %}</a>

                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


</div>
