{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load mytags %}
{% load materializecss %}






{% block content %}
    <div class="content">
        <div class="mission_container">

            <div>
                <a href="{% url 'project_detail' object.id %}"> <button>{% trans 'back_to_project_button' %}</button></a>
            </div>

            <div class=" mission_description">
                <p class="mission_description_text"> {{ object.description }}</p>
                <div>
                </div>
            </div>



            <div class="row mission_extra_detail_box" >
                <div class="col mission_resource">
                    <div class="mission_resource_add_btn">
                        <!-- Modal Trigger -->
                        <button data-target="add_resource" class="btn modal-trigger add_button">{% trans 'add' %}</button>

                    </div>
                    <div class="mission_resource_list">
                        Resource List
                    </div>
                </div>

                <div class="col mission_detail_extra" >
                    <div class="mission_detail_edit_button">
                        {% if user.is_speaker %}
                            <a class="btn edit_button" href="{{ object.get_update_url }}">{% trans 'edit' %}</a>
                        {% endif %}
                    </div>
                    <div class="detail_container">
                        <div class ="col mission_detail_box">

                            <div class ="detail_title">
                                <h5 class ="small_title">{% trans 'details_header' %}</h5>
                            </div>


                            <div class="table_detail_mission ">
                                <ul >
                                    <li>
                                        <span class="label">{% trans 'field' %}:</span>
                                        <span class="value">{{object.field}}</span>
                                    </li>
                                    <li>
                                        <span class="label">{% trans 'dead_line' %}</span>
                                        <span class="value">{{object.due_date}}</span>
                                    </li>
                                    <li >
                                        <span class="label">{% trans 'difficulty ' %}</span>
                                        <span class="value">{{object.level}}</span>
                                    </li>
                                    <li>
                                        <span class="label">{% trans 'points' %}</span>
                                        <span class="value">{{object.points}}</span>
                                    </li>
                                    <li>
                                        <span class="label">{% trans 'typ' %}</span>
                                        <span class="value">{{object.points}}</span>
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <div class="col acquired_skills"><p class ="small_title">{% trans 'acquired_skills' %}</p>

                            <div>
                                {% for skill in project.acquired_skills.all %}
                                    <li class="collection-item">{{skill.name}}</li>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>


</div>

            <div class ="answer_block">

                <div class="row">
                    {# --------  Speaker__________________________________#}
                    {# ______________________________________________________________________________________________________________________________INDIVIDUAL attributed_to___ CALL_______________#}

<div>


                    {% if user.is_speaker %}
                        {% if individualmission  %}
                            {% if not object.attributed_to  %}
                                {% trans 'mission_unclaimed' %}

                            {% else %}
                                <h3>{% trans 'mission_is_attributed_to' %}{{ object.attributed_to }}</h3>

                            {% endif %}



                        {% elif collectivemission  %}
                            {% if not object.attributed_to.all.exists %}
                                {% trans 'no_one_joined_yet' %}
                                {% if user.profile ==  object.team.manager %}

                                    <a href="{% url 'assign_collective_mission_detail' object.id %}">{% trans 'assign_mission' %}</a>
                                {% endif %}

                            {% else %}
                                {% for participant in object.attributed_to.all %}
                                    <li> {{ participant }}</li>

                                {% endfor %}
                            {% endif %}

                        {% endif %}


                    {% elif user.is_student %}

                        {% if user.profile in object.project.team.participants.all %}

                            {% if individualmission and not object.attributed_to  %}

                                <a href="{%  url 'claim_mission' object.id %}">{% trans 'claim_mission' %}</a>
                            {% elif individualmission and object.attributed_to %}

                                {% if object.attributed_to == request.user.profile %}
                                    <h3>{% trans 'mission_is_attributed_to_you' %}
                                        {{ object.attributed_to }}</h3>

                                    {% if answer.response_comment or answer.response_file %}
                                        {% trans 'file_lable' %} :{{answer.response_file}}
                                        {% trans 'text_lable' %}: {{answer.response_comment}}

                                    {% else %}

                                        {% include "answer/answer.html"  with object=object %}
                                    {% endif %}
                                {% endif %}





                                {#                ______________________________________________________________________________________________________________________________________________COLLECTIVE attributed_to Call#}
                            {% elif collectivemission and not object.attributed_to.all.exists %}
                                {% trans 'no_one_joined_yet' %}
                            {% elif collectivemission  %}
                                <p>{% trans 'as_of_now_' %} {{ object.attributed_to.all.count }} {% trans 'joined_the_mission' %}</p>

                                {% if user.profile not in object.attributed_to.all %}

                                    <a href="{% url 'join_collective_mission_detail' object.id %}">{% trans 'join_mission' %}</a>

                                {% else %}
                                    <a href="{% url 'leave_collective_mission_detail' object.id %}">{% trans 'leave_mission' %}</a>
                                {% endif %}
                                {##}
                            {% endif %}

                        {% endif %}
                    {% endif %}

                </div>
            </div>

</div>


            <div class ="answer_status">
            <div>


                {% if user.is_speaker %}

                    {% for answer in object.answer.all  %}

                        {% if answer.response_comment or answer.response_file %}
                            {% trans 'file_lable' %} :{{answer.response_file}}
                            {% trans 'text_lable' %}: {{answer.response_comment}}
                            <div>

                                <form method="POST" action="{% url 'answer_edit_status' answer.id %}">
                                    {% csrf_token %}

                                    {{ answer.status_form }}
                                </form>

                                {% if answer.status == 'a' %}
                                    {% if not answer.grade %}
                                        <form method="POST" action="{% url 'answer_grade_add' answer.id %}">
                                            {% csrf_token %}

                                            {{ answer.grade_form }}
                                        </form>
                                    {% else %}
                                        {% trans 'grade_for_mission ' %}: {{ answer.grade }}
                                    {% endif %}
                                    </div>
                                {% else %}

                                    {% trans 'mission_wasnt_accepted_yet' %}
                                {% endif %}
                        {% endif %}
                    {% endfor %}

                {% endif %}
            </div>




</div>


            <div class="comment_section">

                Comment

            </div>

        </div>
    </div>




















    {#    ________________________________________________________MODALS#}
    <div id="add_resource" class="modal">
        <div class="modal-content">


            {% if object.team.project %}
                <form method="POST" class="form-horizontal" action='{% url 'create_resource' object.project.id %}' >
                    {% csrf_token %}
                    {{ resources_form|materializecss }}
                    <button class="btn waves-effect waves-light modal-action modal-close add_button" type="submit" name="action">
                        {% trans 'save'%}</button>
                </form>
            {% endif %}
        </div>

    </div>


{% endblock %}




{% block javascript %}

    <script>
        $(document).ready(function(){
            $('.modal').modal();



        });
    </script>

    <script src="{% static  'backend/js/project_api_details.js'%}" type="text/javascript"></script>
    <script src="{% static  'backend/js/plugin.js'%}" type="text/javascript"></script>







{% endblock javascript %}