{% extends 'base.html' %}
{% load i18n %}
{% load mytags %}
{% load static %}
{% block css %}
    <link href="{% static 'backend/css/answer_board.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}


    {% if user.is_speaker %}

        {% if answer_mission_list  %}

            <div>
                <h1> {% trans 'there_are_no_answers_yet' %}</h1>

            </div>

        {% else %}

            <div class="speaker_answer_board">
                <h5 class="mission_board_title"> {% trans 'answer_mission_board_title' %}</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">{% trans 'mission_name' %}</th>
                        <th scope="col">{% trans 'team_name' %}</th>
                        <th scope="col">{% trans 'project_name' %}</th>
                        <th scope="col">{% trans 'due_date' %}</th>
                        <th scope="col">{% trans 'status_answer' %}</th>

                    </tr>
                    </thead>
                    <tbody>


                    {% for mission in answers_mission_list|get_speaker_answer_board:user.profile %}
                        <tr>
                            <td><a href="{% url 'individual_mission_detail'  mission.pk %}">{{ mission.name }}</a></td>
                            {% if mission.project.team %}
                                <td><a href="{% url 'team_detail'  mission.project.team.id %}">{{ mission.project.team.name }}</a></td>
                            {% else %}
                                <td> not team</td>
                            {% endif %}
                            <td><a href="{% url 'project_detail'  mission.project.pk %}">{{ mission.project.name }}</a></td>
                            <td>{{mission.due_date}}</td>

                            <td>  {% if mission.answer.all.exists %}
                                {{ mission.answer.last.get_status_display }}
                            {% else  %}
                                {% trans 'not_answer_yet' %}
                            {% endif %}
                            </td>
                            <td>{% if user.is_speaker %}
                                {#                            <form method = "post">#}
                                {#                                {% csrf_token %}#}
                                {#                                <input type="checkbox" id="mission_validate" name="mission_validate" value="validate">#}
                                {#                                <label for="validate">{% trans 'validate' %}</label><br>#}
                                {#                                <input type = "submit" value = "validate">#}
                                {#                            </form>#}
                            {% endif %}

                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <h2>{% trans 'collective_mission' %}</h2>
                <table class="table">
        
                    <tbody>
        
                    <div class="mission_list">
                        {% for mission in individual_collective_mission  %}

                            <tr class="table_row_mission_answer_table">
        
                                <td><a href="{% url 'individual_collective_mission_detail'  mission.id %}">{{ mission.parent_mission.name }}</a></td>
        
                                {%  if mission.parent_mission.project.team %}
                                    <td> <a class="team_name_link" href="{% url 'team_detail'  mission.parent_mission.project.team.pk %}">{{ mission.parent_mission.project.team.name }}</a></td>
                                {% else %}
                                    <td> {% trans 'no_team' %}</td>
                                {% endif %}
                                <td>{{ mission.parent_mission.due_date }}</td>
        {#                        <td>{% if mission.response_comment or mission.response_file %}#}
        {#                            <a href="{% url 'collective_mission_detail'  mission.id %}">{% trans 'see_answer' %}</a>#}
        {#                        {% elif user.profile == mission.attributed_to %}#}
        {#                            <lable>{% trans 'submit_mission' %}</lable>#}
        {#                        {% endif %}</td>#}
        
                                <td>{% if not mission.answer.first %}
                                    <lable>{% trans 'mission_not_answered_yet' %}</lable>
                                {% else %}
                                    {{mission.answer.first.get_status_display}}
                                {% endif %}
                                </td>


                        {% endfor %}
                    </div>
                    </tbody>
                </table>
        



            </div>

        {% endif %}


    {% elif user.is_student %}


        <div class="student_missions_board_container">

        <h3 class="mission_board_title">{% trans 'my_mission_board_title' %}</h3>
        <div class="mission_list">
        <table class="table">
            <thead>
            <tr>

                <th>{% trans 'mission_name' %}</th>
                <th>{% trans 'team_name' %}</th>
                <th>{% trans 'due_date' %}</th>
                <th>{% trans 'status_answer_student' %}</th>

            </tr>


            </thead>
            <tbody>

            <div class="mission_list">
                {% for mission in mission_list  %}
                    <tr class="table_row_mission_answer_table">
                        <td>   <a class="mission_title_mission_list" href="{% url 'individual_mission_detail'  mission.pk %}">{{ mission.name }}</a></td>
                        {%  if mission.project.team %}
                            <td> <a class="team_name_link" href="{% url 'team_detail'  mission.project.team.pk %}">{{ mission.project.team.name }}</a></td>
                        {% else %}
                            <td> {% trans 'no_team' %}</td>
                        {% endif %}
                        <td class="mission_list_due_date">{{ mission.due_date }}</td>
{#                        <td>{% if mission.response_comment or mission.response_file %}#}
{#                            <a href="{% url 'individual_mission_detail'  mission.id %}">{% trans 'see_answer' %}</a>#}
{#                        {% elif user.profile == mission.attributed_to %}#}
{#                            <lable>{% trans 'submit_mission' %}</lable>#}
{#                        {% endif %}</td>#}
                        <td>{% if not mission.answer.first %}
                            <lable>{% trans 'mission_not_answered_yet' %}</lable>
                        {% else %}
                            {{mission.answer.first.get_status_display}}
                        {% endif %}
                        </td>
                        <td><a href="{%  url 'unclaim_mission' mission.id %}">{% trans 'unclaim_mission' %}</a></td>
                    </tr>
                    {#                  {% endif %}#}
                {% endfor %}
            </div>

            </tbody>
        </table>
        <h2>{% trans 'collective_mission' %}</h2>
        <table class="table">

            <tbody>

            <div class="mission_list">
                {% for mission in individual_collective_mission  %}
                   1* {{ mission.id }}<br>
                      2*      {{ parrent_mission.id }}
                            <br>
                      3*      {{ mission.parent_mission.id }}
                    <tr class="table_row_mission_answer_table">

                        <td><a class="mission_title_mission_list" href="{% url 'individual_collective_mission_detail'  mission.id %}">{{ mission.parent_mission.name }}</a></td>

                        {%  if mission.parent_mission.project.team %}
                            <td> <a class="team_name_link" href="{% url 'team_detail'  mission.parent_mission.project.team.pk %}">{{ mission.parent_mission.project.team.name }}</a></td>
                        {% else %}
                            <td> {% trans 'no_team' %}</td>
                        {% endif %}
                        <td class="mission_list_due_date">{{ mission.parent_mission.due_date }}</td>
{#                        <td>{% if mission.response_comment or mission.response_file %}#}
{#                            <a href="{% url 'collective_mission_detail'  mission.id %}">{% trans 'see_answer' %}</a>#}
{#                        {% elif user.profile == mission.attributed_to %}#}
{#                            <lable>{% trans 'submit_mission' %}</lable>#}
{#                        {% endif %}</td>#}

                        <td>{% if not mission.answer.first %}
                            <lable>{% trans 'mission_not_answered_yet' %}</lable>
                        {% else %}
                            {{mission.answer.first.get_status_display}}
                        {% endif %}
                        </td>
                        <td><a href="{%  url 'leave_collective_mission_detail' mission.parent_mission.id %}">{% trans 'leave_mission' %}</a></td>
                    </tr>
                    {#                  {% endif %}#}
                {% endfor %}
            </div>
            </tbody>
        </table>

    {% endif %}
</div>



{% endblock %}
