{% load i18n %}
{% load mytags %}
{% load static %}
{% block css %}
    <link href="{% static 'backend/css/answer_board.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}

{#    {% if answer_mission_list  %}#}
{##}
{#    <div>#}
{#        <h1> {% trans 'there_are_no_answers_yet' %}</h1>#}
{##}
{#    </div>#}
{##}
{#    {% else %}#}
{##}
{#    <div class="answer_individual_mission_list">#}
{#        <h5 class="mission_board_title"> {% trans 'answer_mission_board_title' %}</h5>#}
{#        <table class="table">#}
{#            <thead>#}
{#            <tr>#}
{#                <th>{% trans 'mission_name' %}</th>#}
{#                <th>{% trans 'team_name' %}</th>#}
{#                <th>{% trans 'project_name' %}</th>#}
{#                <th>{% trans 'due_date' %}</th>#}
{#                <th>{% trans 'status_answer' %}</th>#}
{##}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{##}
{##}
{#            {% for mission in answers_mission_list|get_speaker_answer_board:user.profile %}#}
{#                <tr>#}
{#                    <td><a class="mission_list_mission_name" href="{% url 'individual_mission_detail'  mission.pk %}">{{ mission.name }}</a></td>#}
{#                    {% if mission.project.team %}#}
{#                        <td><a class="mission_list_team_name" href="{% url 'team_detail'  mission.project.team.id %}">{{ mission.project.team.name }}</a></td>#}
{#                    {% else %}#}
{#                        <td> not team</td>#}
{#                    {% endif %}#}
{#                    <td><a class="mission_list_project_name" href="{% url 'project_detail'  mission.project.pk %}">{{ mission.project.name }}</a></td>#}
{#                    <td class="mission_list_mission_due_date">{{mission.due_date}}</td>#}
{##}
{#                    <td class="mission_list_mission_status">  {% if mission.answer.all.exists %}#}
{#                        {{ mission.answer.last.get_status_display }}#}
{#                    {% else  %}#}
{#                        {% trans 'not_answer_yet' %}#}
{#                    {% endif %}#}
{#                    </td>#}
{#                    <td>{% if user.is_speaker %}#}
                        {#                            <form method = "post">#}
                        {#                                {% csrf_token %}#}
                        {#                                <input type="checkbox" id="mission_validate" name="mission_validate" value="validate">#}
                        {#                                <label for="validate">{% trans 'validate' %}</label><br>#}
                        {#                                <input type = "submit" value = "validate">#}
                        {#                            </form>#}
{#                    {% endif %}#}
{##}
{#                    </td>#}
{#                </tr>#}
{#            {% endfor %}#}
{##}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#    </div>#}
{#    <br>#}
{#    <div class="answer_collective_mission_list">#}
{#        <h2>{% trans 'collective_mission' %}</h2>#}
{#        <table class="table">#}
{#            <tbody>#}
{#            {% for mission in individual_collective_mission  %}#}
{#                <tr class="table_row_mission_answer_table">#}
{#                <td><a class="mission_list_mission_name" href="{% url 'individual_collective_mission_detail'  mission.id %}">{{ mission.parent_mission.name }}</a></td>#}
{#                {%  if mission.parent_mission.project.team %}#}
{#                    <td> <a class="mission_list_team_name" href="{% url 'team_detail'  mission.parent_mission.project.team.pk %}">{{ mission.parent_mission.project.team.name }}</a></td>#}
{#                {% else %}#}
{#                    <td> <h4 class="mission_list_team_name">{% trans 'no_team' %}</h4></td>#}
{#                {% endif %}#}
{#                <td><a class="mission_list_project_name" href="{% url 'project_detail'  mission.parent_mission.project.pk %}">{{ mission.parent_mission.project.name }}</a></td>#}
{##}
{#                <td class="mission_list_mission_due_date">{{ mission.parent_mission.due_date }}</td>#}
                {#                        <td>{% if mission.response_comment or mission.response_file %}#}
                {#                            <a href="{% url 'collective_mission_detail'  mission.id %}">{% trans 'see_answer' %}</a>#}
                {#                        {% elif user.profile == mission.attributed_to %}#}
                {#                            <lable>{% trans 'submit_mission' %}</lable>#}
                {#                        {% endif %}</td>#}
{##}
{#                <td class="mission_list_mission_status">{% if not mission.answer.first %}#}
{#                    <lable>{% trans 'mission_not_answered_yet' %}</lable>#}
{#                {% else %}#}
{#                    {{mission.answer.first.get_status_display}}#}
{#                {% endif %}#}
{#                </td>#}
{##}
{##}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{##}
{#    </div>#}
{##}
{##}
{#    </div>#}
{##}
{##}
{##}
{##}
{#{% endblock %}#}

<div class="missions_list_container">
    <div class="table_view_panel">
        <h2>{% trans 'my_mission_board_title' %}</h2>
        <table>
            <thead>
            <tr>
                <th class="table_column_small">{% trans 'mission_name' %}</th>
                <th>{% trans 'team_name' %}</th>
                <th>{% trans 'project_name' %}</th>
                <th>{% trans 'due_date' %}</th>
                <th>{% trans 'status_answer_student' %}</th>
            </tr>
            </thead>

            <tbody>
            <div>
                {% for mission in answers_mission_list|get_speaker_answer_board:user.profile %}
                    <tr>
                        <td>   <a class="table_column_large" href="{% url 'individual_mission_detail'  mission.pk %}">{{ mission.name }}</a></td>
                        {%  if mission.project.team %}
                            <td> <a class="table_column_large" href="{% url 'team_detail'  mission.project.team.pk %}">{{ mission.project.team.name }}</a></td>
                        {% else %}
                            <td class="table_column_large"> {% trans 'no_team' %}</td>
                        {% endif %}
                        <td><a class="table_column_large" href="{% url 'project_detail'  mission.project.pk %}">{{ mission.project.name }}</a></td>

                        <td class="table_column_medium">{{ mission.due_date }}</td>
                        {#                        <td>{% if mission.response_comment or mission.response_file %}#}
                        {#                            <a href="{% url 'individual_mission_detail'  mission.id %}">{% trans 'see_answer' %}</a>#}
                        {#                        {% elif user.profile == mission.attributed_to %}#}
                        {#                            <lable>{% trans 'submit_mission' %}</lable>#}
                        {#                        {% endif %}</td>#}
                        <td class="table_column_medium">{% if not mission.answer.first %}
                            {% trans 'mission_not_answered_yet' %}
                        {% else %}
                            {{mission.answer.first.get_status_display}}
                        {% endif %}
                        </td>
                    </tr>
                    {#                  {% endif %}#}
                {% endfor %}
            </div>
            </tbody>
        </table>
    </div>

    <div class="table_view_panel">

        <h2>{% trans 'collective_mission' %}</h2>
        <table>
            <thead>
            <tr>
                <th><h3 class="table_column_large"> {% trans 'mission_name' %}</h3></th>
                <th><h3 class="table_column_large"> {% trans 'team_name' %}</h3></th>
                <th><h3 class="table_column_large"> {% trans 'project_name' %}</h3></th>
                <th><h3 class="table_column_medium"> {% trans 'due_date' %}</h3></th>
                <th><h3 class="table_column_medium"> {% trans 'status_answer_student' %}</h3></th>
            </tr>


            </thead>
            <tbody>
            <div>
                {% for mission in individual_collective_mission  %}
                    <tr>
                        <td><a class="table_column_large" href="{% url 'individual_collective_mission_detail'  mission.id %}">{{ mission.parent_mission.name }}</a></td>

                        {%  if mission.parent_mission.project.team %}
                            <td> <a class="table_column_large" href="{% url 'team_detail'  mission.parent_mission.project.team.pk %}">{{ mission.parent_mission.project.team.name }}</a></td>
                        {% else %}
                            <td class="table_column_large"> {% trans 'no_team' %}</td>
                        {% endif %}
                        <td><a class="table_column_large" href="{% url 'project_detail'  mission.parent_mission.project.pk %}">{{ mission.parent_mission.project.name }}</a></td>

                        <td class="table_column_medium">{{ mission.parent_mission.due_date }}</td>

                        <td class="table_column_medium">{% if not mission.answer.first %}
                            {% trans 'mission_not_answered_yet' %}
                        {% else %}
                            {{mission.answer.first.get_status_display}}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </div>
            </tbody>
        </table>
    </div>


</div>
{#{% endif %}#}
{% endblock %}