{% load i18n %}
{% elif user.is_student %}


{% if answer.response_comment or answer.response_file %}

    {% if object.answer.all.exists %}
        {% with answer=object.answer.last %}

            <div class="answer_content" style="background-color: yellow">
                <h3>{% trans 'add_new_answer' %}</h3>
                <form method="POST" action="{% url 'answer_edit_status' answer.id %}">
                    {% csrf_token %}


                    {{ answer.status_form }}
                    <button type="submit">{% trans 'send_answer' %}</button>
                </form>

                </form>

                {% if answer.status %}
                    <p> {% trans 'answer_status' %}: {{ answer.status }} </p>
                {% elif answer.status == 'a' %}
                    {% if not answer.grade %}

                        <p>{% trans 'mission_not_graded' %}</p>
                    {% else %}
                        {% trans 'grade_for_mission ' %}: {{ answer.grade }}
                    {% endif %}
                    </div>
                {% else %}

                    <p> {% trans 'mission_wasnt_accepted_yet' %}</p>
                {% endif %}
            </div>
            </div>
        {% endwith %}
    {% endif %}


{% endif %}
