{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load mytags %}
{% block content %}



<div id = "getApi"> </div>
 <div class="rs-cart orange-color pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <h2>Create {{view.model|return_class_name}}</h2>

        <div class="cart-wrap">
                <table class="cart-table">

                    <form action="", method="POST">

                        {% csrf_token %}
                        {% if form %}
                        {{form|crispy }}
                        {% endif %}
                        {% if formset %}
                        {{formset.management_form}}
                        {% for subform in formset %}

                        {{subform|crispy}}


                        {% endfor %}
                        {% endif %}
                        <button class="btn" type="submit" value="Save">Save</button>
                        <button class="btn" type="submit" ><a href="{% url 'dashboard' %}" style="color:#fffefc;">Back</a></button>
                    </form>
                </table>


            </div>
        </div>
    </div>

    {% endblock %}
    <script src="{% static  'backend/js/project_api_details.js'%}" type="text/javascript"></script>
