{% extends 'base.html' %}
{% load i18n %}
{% load mytags %}
{% load crispy_forms_tags %}

{% block content %}


{{object}}

{% if formsets.0.instance.project.missions.all.exists  %}


<div class="rs-cart orange-color pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">

        <div class="cart-wrap">
                <table class="cart-table">

                    <form action="", method="POST">

                        {% csrf_token %}
                        {% if form %}

                        {{form|crispy }}
                        {% endif %}

                        {% for formset in formsets %}

                            {% if formset %}
                            {{formset.management_form}}

                            {% for subform in formset %}
                            {{subform.instance.mission.name}}
                            {{subform|crispy}}


                            {% endfor %}
                            {% endif %}

                        {% endfor %} 

                        <button class="btn-shop orange-color" type="submit" value="Save">SAVE</button>
                    </form>
                </table>


            </div>
        </div>
    </div>
{% else %}

{% trans 'This project has no missions yet' %}


{% endif %}

{% endblock %}
