{% extends 'baseb.html' %}

{% block content %}
<div class="container">
    <div class="coupon-toggle">
        <div id="accordion" class="accordion">
            <div class="card">
                <div class="billing-fields">
                    <div class="checkout-title">
                        <h3>{{type}} {{ mission.name }}</h3>
                    </div>
                    <div class="form-content-box">
                        <div class="row">
                            <h2>{{mission.text}}</h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>




<a href="{% url 'delete_mission' mission.pk %}">Delete Mission </a>
<a href="{% url 'mission_list' %}">List Mission </a>



{% endblock %}