{% extends 'base.html' %}

{% block content %}





<main class= "container-fluid">
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">My {{ model.name }}</h5>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                  <tr>
                    {% for team in team_list %}
                      <th scope="col"><h1>{% trans 'team_name' %} <a href="{% url 'team_detail' %}"></a> {{ team.name }}</h1></th>
                    {% endfor %}
                  </tr>
              </thead>
              <tbody>
                <tr>

Something is missing?
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>





{% endblock %}
