{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load mytags %}



{% block content %}

Update {{view.model|return_class_name}}

{#{{form.media}}#}

<form method="post" enctype="multipart/form-data">
{% csrf_token %}

{{form.as_p}}

<button class="btn" type="submit">Save</button>
<button class="btn" type="submit"><a href="{% url 'dashboard' %}" style="color:#fffefc;">Back</a></button>


</form>

<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>


{% endblock %}
