{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load mytags %}

{% block css %}
    <link href="{% static 'backend/css/crud.css' %}" rel="stylesheet" >
    <link href="{% static 'backend/css/forms.css' %}" rel="stylesheet" >
{% endblock css %}




{% block content %}

    <div class="update_form_container">


        <div class="form_container">
            {% if view.model %}
                <div class="update_project_title"><h2>Update {{view.model|return_class_name}}</h2></div>
            {% endif %}
            {#{{form.media}}#}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.media }}

                <button class="btn btn-primary" type="submit">{% trans 'save' %}</button>


            </form>





            <div class="create_page_extra">
{#                {% if object == Project %}#}
{#                    <!-- {% load static %}  -->#}
{#                    <img class="image_placeholder" src="{% static 'backend/images/kiwep/logo.png' %}" alt="image_holder">#}
{##}
{#                    <img class="video_placeholder" src="{% static 'backend/images/kiwep/video_placeholder.png' %}" alt="video_placeholder">#}
{##}
{##}
{#                {% else %}#}
{#                    <img class="image_placeholder" src="{% static 'backend/images/kiwep/image_holder.png' %}" alt="image_holder">#}
{##}
{#                {% endif %}#}



            </div>

        </div>
    </div>

    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>


{% endblock %}
