{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load mytags %}

{% block css %}
    <link href="{% static 'backend/css/crud.css' %}" rel="stylesheet" >
{% endblock css %}




{% block content %}

    <div class="update_form_container">


        <div class="form_container">
            Update {{view.model|return_class_name}}

            {#{{form.media}}#}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{form.as_p}}

                <button class="btn" type="submit">Save</button>
                <button class="btn" type="submit"><a href="{% url 'dashboard' %}" style="color:#fffefc;">{% trans 'dashboard' %}</a></button>


            </form>




            <div class="create_page_extra">
                {% if object == Project %}

                    <img class="image_placeholder" src="{% static 'images/kiwep/image_holder.png' %}">

                    <img class="video_placeholder" src="{% static 'images/kiwep/video_placeholder.png' %}">


                {% else %}
                    <img class="image_placeholder" src="{% static 'images/kiwep/image_holder.png' %}">

                {% endif %}



            </div>

        </div>
    </div>

    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>


{% endblock %}
